<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      display: flex;
      align-items: center;
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      padding: 5px 10px 2px 20px;
    }
  
    .toolbar img {
      /* margin: 0 16px; */
      position: absolute;
      left: -10px;
      top: -18px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 8px;
    }
  
    .toolbar #youtube-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
      opacity: 0.8;
    }
  
    .content-menu {
      display: flex;
      margin: 0 auto 32px;
      padding: 0 16px;
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    .content {
      display: flex;
      margin: 12px auto 32px;
      padding: 0 16px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    .subcontent {
      display: flex;
      margin: 12px auto;
      padding: 0px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
  
    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
        width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
  
    /* .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card-container .switch:not(:last-child) {
      margin-right: 0;
    } */
  
    .card.card-small {
      height: 16px;
      width: 190px;
      border-radius: 8px;
    }
  
    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }
  
    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card.card-large {
      width: auto;
      height: auto;
      border-radius: 8px;
      margin: 8px 8px;
      padding: 8px 20px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    } */
  
    .card.highlight-card {
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    button.grade-button {
      font-size: 18px;
      color: white;
      background-color: #1976d2;
      border-radius: 12px;
      border: 1px solid #eee;
      margin: 8px;
      padding: 8px 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.grade-button-gray {
      font-size: 18px;
      color: white;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button-gray:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.toggle-button {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .toggle-button:before {
      background-color: #1976d2;
      color: white;
    }
  
    button.toggle-button-off {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    button.toggle-button-on {
      font-size: 18px;
      background-color: #1976d2;
      color: white;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    .terminal {
      position: relative;
      /* width: 100%; */
      max-width: 625px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
      color: #c2c3c4;
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      line-height: 0;
      padding: 14px 0;
      font-size: 2rem;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
      text-align: center;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27, 31, 35, .2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
      border-color: rgba(27, 31, 35, .35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    /* The switch - the box around the slider */
    .switch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      max-width: 250px;
      max-height: 75px;
      transition: all 0.2s ease-in-out;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    input:checked+.toggle-button-on {
      background-color: #1976d2;
      color: white
    }
  
    input:hover+.toggle-button-on {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    input:checked+.toggle-button-off {
      background-color: #ccc;
      color: black;
    }
  
    input:hover+.toggle-button-off {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
  
      .card-container>*:not(.circle-link),
      .terminal {
        /* width: 100%; */
      }
  
      .card:not(.highlight-card) {
        /* height: 16px; */
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
    }
  </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main">
    <br />
    <section style="width: 100%; align-items: left">
        <div routerLink="/standards" routerLinkActive="active" class="card card-small" style="width: 300px; border: none; background-color: white">
          <img src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
          <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
        </div>
    </section>
    <br />
    <h2 style="text-align: center; margin-bottom: 10px"> Grade 6 Mathematics (Common Core) Learning Standards </h2>
    <br />
    <div class="card-container">
        <div class="card card-medium" (click)="toggle_domain(1)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row">
                <div style="margin: 0 20px">
                    <img *ngIf="domain_state[1]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 20px; text-align: left">
                    <h4 style="font-size: 18px"> Ratios and Proportional Relationships </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[1]" style="font-size: 15px">
                    <li> <b> A : Understand ratio concepts and use ratio reasoning to solve problems. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Understand the concept of a ratio and use ratio language to describe a ratio relationship between two quantities. </li>
                            <li> <b> 2 </b> : Understand the concept of a unit rate a/b associated with a ratio a:b with b is not equal to 0, and use rate language in the context of a ratio relationship. </li>
                            <li> <b> 3 </b> : Use ratio and rate reasoning to solve real-world and mathematical problems, e.g., by reasoning about tables of equivalent ratios, tape diagrams, double number line diagrams, or equations. </li>
                                <ul>
                                    <li> <b> a </b> : Make tables of equivalent ratios relating quantities with whole-number measurements, find missing values in the tables, and plot the pairs of values on the coordinate plane. Use tables to compare ratios. </li>
                                    <li> <b> b </b> : Solve unit rate problems including those involving unit pricing and constant speed. </li>
                                    <li> <b> c </b> : Find a percent of a quantity as a rate per 100 (e.g., 30% of a quantity means 30/100 times the quantity); solve problems involving finding the whole, given a part and the percent. </li>
                                    <li> <b> d </b> : Use ratio reasoning to convert measurement units; manipulate and transform units appropriately when multiplying or dividing quantities. </li>
                                </ul>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(2)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row">
                <div style="margin: 0 20px">
                    <img *ngIf="domain_state[2]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 20px; text-align: left">
                    <h4 style="font-size: 18px"> The Number System </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[2]" style="font-size: 15px">
                    <li> <b> A : Apply and extend previous understandings of multiplication and division to divide fractions by fractions. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Interpret and compute quotients of fractions, and solve word problems involving division of fractions by fractions, e.g., by using visual fraction models and equations to represent the problem. </li>
                        </ul>
                    <li> <b> B : Compute fluently with multi-digit numbers and find common factors and multiples. </b> </li>
                        <ul>
                            <li> <b> 2 </b> : Fluently divide multi-digit numbers using the standard algorithm. </li>
                            <li> <b> 3 </b> : Fluently add, subtract, multiply, and divide multi-digit decimals using the standard algorithm for each operation. </li>
                            <li> <b> 4 </b> : Find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12. Use the distributive property to express a sum of two whole numbers 1-100 with a common factor as a multiple of a sum of two whole numbers with no common factor. </li>
                        </ul>
                    <li> <b> C : Apply and extend previous understandings of numbers to the system of rational numbers. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : FUnderstand that positive and negative numbers are used together to describe quantities having opposite directions or values (e.g., temperature above/below zero, elevation above/below sea level, credits/debits, positive/negative electric charge); use positive and negative numbers to represent quantities in real-world contexts, explaining the meaning of 0 in each situation. </li>
                            <li> <b> 6 </b> : Understand a rational number as a point on the number line. Extend number line diagrams and coordinate axes familiar from previous grades to represent points on the line and in the plane with negative number coordinates. </li>
                                <ul>
                                    <li> <b> a </b> : Recognize opposite signs of numbers as indicating locations on opposite sides of 0 on the number line; recognize that the opposite of the opposite of a number is the number itself, e.g., -(-3) = 3, and that 0 is its own opposite. </li>
                                    <li> <b> b </b> : Understand signs of numbers in ordered pairs as indicating locations in quadrants of the coordinate plane; recognize that when two ordered pairs differ only by signs, the locations of the points are related by reflections across one or both axes. </li>
                                    <li> <b> c </b> : Find and position integers and other rational numbers on a horizontal or vertical number line diagram; find and position pairs of integers and other rational numbers on a coordinate plane. </li>
                                </ul>
                            <li> <b> 7 </b> : Understand ordering and absolute value of rational numbers. </li>
                                <ul>
                                    <li> <b> a </b> : Interpret statements of inequality as statements about the relative position of two numbers on a number line diagram. </li>
                                    <li> <b> b </b> : Write, interpret, and explain statements of order for rational numbers in real-world contexts. </li>
                                    <li> <b> c </b> : Understand the absolute value of a rational number as its distance from 0 on the number line; interpret absolute value as magnitude for a positive or negative quantity in a real-world situation. </li>
                                    <li> <b> d </b> : Distinguish comparisons of absolute value from statements about order. </li>
                                </ul>
                            <li> <b> 8 </b> : Solve real-world and mathematical problems by graphing points in all four quadrants of the coordinate plane. Include use of coordinates and absolute value to find distances between points with the same first coordinate or the same second coordinate. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(3)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row">
                <div style="margin: 0 20px">
                    <img *ngIf="domain_state[3]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 20px; text-align: left">
                    <h4 style="font-size: 18px"> Expressions and Equations </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[3]" style="font-size: 15px">
                    <li> <b> A : Apply and extend previous understandings of arithmetic to algebraic expressions. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Write and evaluate numerical expressions involving whole-number exponents. </li>
                            <li> <b> 2 </b> : Write, read, and evaluate expressions in which letters stand for numbers. </li>
                                <ul>
                                    <li> <b> a </b> : Write expressions that record operations with numbers and with letters standing for numbers. </li>
                                    <li> <b> b </b> : Identify parts of an expression using mathematical terms (sum, term, product, factor, quotient, coefficient); view one or more parts of an expression as a single entity. </li>
                                    <li> <b> c </b> : Evaluate expressions at specific values of their variables. Include expressions that arise from formulas used in real-world problems. Perform arithmetic operations, including those involving whole-number exponents, in the conventional order when there are no parentheses to specify a particular order (Order of Operations). </li>
                                </ul>
                                <li> <b> 3 </b> : Apply the properties of operations to generate equivalent expressions. </li>
                                <li> <b> 4 </b> : Identify when two expressions are equivalent (i.e., when the two expressions name the same number regardless of which value is substituted into them). </li>
                        </ul>
                    <li> <b> B : Reason about and solve one-variable equations and inequalities. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : Understand solving an equation or inequality as a process of answering a question: which values from a specified set, if any, make the equation or inequality true? Use substitution to determine whether a given number in a specified set makes an equation or inequality true. </li>
                            <li> <b> 6 </b> : Use variables to represent numbers and write expressions when solving a real-world or mathematical problem; understand that a variable can represent an unknown number, or, depending on the purpose at hand, any number in a specified set. </li>
                            <li> <b> 7 </b> : Solve real-world and mathematical problems by writing and solving equations of the form x + p = q and px = q for cases in which p, q and x are all nonnegative rational numbers. </li>
                            <li> <b> 8 </b> : Write an inequality of the form x > c or x < c to represent a constraint or condition in a real-world or mathematical problem. Recognize that inequalities of the form x > c or x < c have infinitely many solutions; represent solutions of such inequalities on number line diagrams. </li>
                        </ul>
                    <li> <b> C : Represent and analyze quantitative relationships between dependent and independent variables. </b> </li>
                        <ul>
                            <li> <b> 9 </b> : Use variables to represent two quantities in a real-world problem that change in relationship to one another; write an equation to express one quantity, thought of as the dependent variable, in terms of the other quantity, thought of as the independent variable. Analyze the relationship between the dependent and independent variables using graphs and tables, and relate these to the equation. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(4)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row">
                <div style="margin: 0 20px">
                    <img *ngIf="domain_state[4]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 20px; text-align: left">
                    <h4 style="font-size: 18px"> Geometry </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[4]" style="font-size: 15px">
                    <li> <b> A : Solve real-world and mathematical problems involving area, surface area, and volume. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Find the area of right triangles, other triangles, special quadrilaterals, and polygons by composing into rectangles or decomposing into triangles and other shapes; apply these techniques in the context of solving real-world and mathematical problems. </li>
                            <li> <b> 2 </b> : Find the volume of a right rectangular prism with fractional edge lengths by packing it with unit cubes of the appropriate unit fraction edge lengths, and show that the volume is the same as would be found by multiplying the edge lengths of the prism. Apply the formulas V = l w h and V = b h to find volumes of right rectangular prisms with fractional edge lengths in the context of solving real-world and mathematical problems. </li>
                            <li> <b> 3 </b> : Draw polygons in the coordinate plane given coordinates for the vertices; use coordinates to find the length of a side joining points with the same first coordinate or the same second coordinate. Apply these techniques in the context of solving real-world and mathematical problems. </li>
                            <li> <b> 4 </b> : Represent three-dimensional figures using nets made up of rectangles and triangles, and use the nets to find the surface area of these figures. Apply these techniques in the context of solving real-world and mathematical problems. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(5)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row">
                <div style="margin: 0 20px">
                    <img *ngIf="domain_state[5]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 20px; text-align: left">
                    <h4 style="font-size: 18px"> Statistics and Probability </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[5]" style="font-size: 15px">
                    <li> <b> A : Develop understanding of statistical variability. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Recognize a statistical question as one that anticipates variability in the data related to the question and accounts for it in the answers. </li>
                            <li> <b> 2 </b> : Understand that a set of data collected to answer a statistical question has a distribution which can be described by its center, spread, and overall shape. </li>
                            <li> <b> 3 </b> : Recognize that a measure of center for a numerical data set summarizes all of its values with a single number, while a measure of variation describes how its values vary with a single number. </li>
                        </ul>
                    <li> <b> B : Summarize and describe distributions. </b> </li>
                        <ul>
                            <li> <b> 4 </b> : Display numerical data in plots on a number line, including dot plots, histograms, and box plots. </li>
                            <li> <b> 5 </b> : Summarize numerical data sets in relation to their context, such as by: </li>
                                <ul>
                                    <li> <b> a </b> : Reporting the number of observations. </li>
                                    <li> <b> b </b> : Describing the nature of the attribute under investigation, including how it was measured and its units of measurement. </li>
                                    <li> <b> c </b> : Giving quantitative measures of center (median and/or mean) and variability (interquartile range and/or mean absolute deviation), as well as describing any overall pattern and any striking deviations from the overall pattern with reference to the context in which the data were gathered. </li>
                                    <li> <b> d </b> : Relating the choice of measures of center and variability to the shape of the data distribution and the context in which the data were gathered. </li>
                                </ul>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>