<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
  style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 105%+150px; background-attachment: fixed">
    <br />
    <section style="width: 100%; align-items: left">
        <div routerLink="/standards" routerLinkActive="active" class="card card-small" style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
          <img src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
          <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
        </div>
    </section>
    <br />
    <h2> High School Mathematics - Geometry (Common Core) Learning Standards </h2>
    <br />
    <div class="card-container">
        <div class="card card-medium" (click)="toggle_domain(1)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.CO : Congruence </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[1]" style="font-size: 15px">
                    <li> <b> A : Experiment with transformations in the plane. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Know precise definitions of angle, circle, perpendicular line, parallel line, and line segment, based on the undefined notions of point, line, distance along a line, and distance around a circular arc. </li>
                            <li> <b> 2 </b> : Represent transformations in the plane using, e.g., transparencies and geometry software; describe transformations as functions that take points in the plane as inputs and give other points as outputs. Compare transformations that preserve distance and angle to those that do not (e.g., translation versus horizontal stretch). </li>
                            <li> <b> 3 </b> : Given a rectangle, parallelogram, trapezoid, or regular polygon, describe the rotations and reflections that carry it onto itself. </li>
                            <li> <b> 4 </b> : Develop definitions of rotations, reflections, and translations in terms of angles, circles, perpendicular lines, parallel lines, and line segments. </li>
                            <li> <b> 5 </b> : Given a geometric figure and a rotation, reflection, or translation, draw the transformed figure using, e.g., graph paper, tracing paper, or geometry software. Specify a sequence of transformations that will carry a given figure onto another. </li>
                        </ul>
                    <li> <b> B : Understand congruence in terms of rigid motions. </b> </li>
                        <ul>
                            <li> <b> 6 </b> : Use geometric descriptions of rigid motions to transform figures and to predict the effect of a given rigid motion on a given figure; given two figures, use the definition of congruence in terms of rigid motions to decide if they are congruent. </li>
                            <li> <b> 7 </b> : Use the definition of congruence in terms of rigid motions to show that two triangles are congruent if and only if corresponding pairs of sides and corresponding pairs of angles are congruent. </li>
                            <li> <b> 8 </b> : Explain how the criteria for triangle congruence (ASA, SAS, and SSS) follow from the definition of congruence in terms of rigid motions. </li>
                        </ul>
                    <li> <b> C : Prove geometric theorems. </b> </li>
                        <ul>
                            <li> <b> 9 </b> : Prove theorems about lines and angles. </li>
                            <li> <b> 10 </b> : Prove theorems about triangles. </li>
                            <li> <b> 11 </b> : Prove theorems about parallelograms. </li>
                        </ul>
                    <li> <b> D : Make geometric constructions. </b> </li>
                        <ul>
                            <li> <b> 12 </b> : Make formal geometric constructions with a variety of tools and methods (compass and straightedge, string, reflective devices, paper folding, dynamic geometric software, etc.). </li>
                            <li> <b> 13 </b> : Construct an equilateral triangle, a square, and a regular hexagon inscribed in a circle. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(2)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.SRT : Similarity, Right Triangles, and Trigonometry </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[2]" style="font-size: 15px">
                    <li> <b> A : Understand similarity in terms of similarity transformations. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Verify experimentally the properties of dilations given by a center and a scale factor: </li>
                                <ul>
                                    <li> <b> a </b> : A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged. </li>
                                    <li> <b> b </b> : The dilation of a line segment is longer or shorter in the ratio given by the scale factor. </li>
                                </ul>
                            <li> <b> 2 </b> : Given two figures, use the definition of similarity in terms of similarity transformations to decide if they are similar; explain using similarity transformations the meaning of similarity for triangles as the equality of all corresponding pairs of angles and the proportionality of all corresponding pairs of sides. </li>
                            <li> <b> 3 </b> : Use the properties of similarity transformations to establish the AA criterion for two triangles to be similar. </li>
                        </ul>
                    <li> <b> B : Prove theorems involving similarity. </b> </li>
                        <ul>
                            <li> <b> 4 </b> : Prove theorems about triangles. </li>
                            <li> <b> 5 </b> : Use congruence and similarity criteria for triangles to solve problems and to prove relationships in geometric figures. </li>
                        </ul>
                    <li> <b> C : Define trigonometric ratios and solve problems involving right triangles. </b> </li>
                        <ul>
                            <li> <b> 6 </b> : Understand that by similarity, side ratios in right triangles are properties of the angles in the triangle, leading to definitions of trigonometric ratios for acute angles. </li>
                            <li> <b> 7 </b> : Explain and use the relationship between the sine and cosine of complementary angles. </li>
                            <li> <b> 8 </b> : Use trigonometric ratios and the Pythagorean Theorem to solve right triangles in applied problems. </li>
                        </ul>
                    <li> <b> D : Apply trigonometry to general triangles. </b> </li>
                        <ul>
                            <li> <b> 9 </b> : Derive the formula A = 1/2 ab sin(C) for the area of a triangle by drawing an auxiliary line from a vertex perpendicular to the opposite side. </li>
                            <li> <b> 10 </b> : Prove the Laws of Sines and Cosines and use them to solve problems. </li>
                            <li> <b> 11 </b> : Understand and apply the Law of Sines and the Law of Cosines to find unknown measurements in right and non-right triangles (e.g., surveying problems, resultant forces). </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(3)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.C : Circles </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[3]" style="font-size: 15px">
                    <li> <b> A : Understand and apply theorems about circles. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Prove that all circles are similar. </li>
                            <li> <b> 2 </b> : Identify and describe relationships among inscribed angles, radii, and chords. </li>
                            <li> <b> 3 </b> : Construct the inscribed and circumscribed circles of a triangle, and prove properties of angles for a quadrilateral inscribed in a circle. </li>
                            <li> <b> 4 </b> : Construct a tangent line from a point outside a given circle to the circle. </li>
                        </ul>
                    <li> <b> B : Find arc lengths and areas of sectors of circles. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : Derive using similarity the fact that the length of the arc intercepted by an angle is proportional to the radius, and define the radian measure of the angle as the constant of proportionality; derive the formula for the area of a sector. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(4)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.GPE : Expressing Geometric Properties with Equations </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[4]" style="font-size: 15px">
                    <li> <b> A : Translate between the geometric description and the equation for a conic section. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Derive the equation of a circle of given center and radius using the Pythagorean Theorem; complete the square to find the center and radius of a circle given by an equation. </li>
                            <li> <b> 2 </b> : Derive the equation of a parabola given a focus and directrix. </li>
                            <li> <b> 3 </b> : Derive the equations of ellipses and hyperbolas given the foci, using the fact that the sum or difference of distances from the foci is constant. </li>
                        </ul>
                    <li> <b> B : Use coordinates to prove simple geometric theorems algebraically. </b> </li>
                        <ul>
                            <li> <b> 4 </b> : Use coordinates to prove simple geometric theorems algebraically. </li>
                            <li> <b> 5 </b> : Prove the slope criteria for parallel and perpendicular lines and use them to solve geometric problems (e.g., find the equation of a line parallel or perpendicular to a given line that passes through a given point). </li>
                            <li> <b> 6 </b> : Find the point on a directed line segment between two given points that partitions the segment in a given ratio. </li>
                            <li> <b> 7 </b> : Use coordinates to compute perimeters of polygons and areas of triangles and rectangles, e.g., using the distance formula. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(5)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[5]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.GMD : Geometric Measurement and Dimension </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[5]" style="font-size: 15px">
                    <li> <b> A : Explain volume formulas and use them to solve problems. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Give an informal argument for the formulas for the circumference of a circle, area of a circle, volume of a cylinder, pyramid, and cone. </li>
                            <li> <b> 2 </b> : Give an informal argument using Cavalieri's principle for the formulas for the volume of a sphere and other solid figures. </li>
                            <li> <b> 3 </b> : Use volume formulas for cylinders, pyramids, cones, and spheres to solve problems. </li>
                        </ul>
                    <li> <b> B : Visualize relationships between two-dimensional and three-dimensional objects. </b> </li>
                        <ul>
                            <li> <b> 4 </b> : Identify the shapes of two-dimensional cross-sections of three-dimensional objects, and identify three-dimensional objects generated by rotations of two-dimensional objects. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(6)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[6]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[6]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSG.MG : Modeling with Geometry </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[6]" style="font-size: 15px">
                    <li> <b> A : Apply geometric concepts in modeling situations. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Use geometric shapes, their measures, and their properties to describe objects (e.g., modeling a tree trunk or a human torso as a cylinder). </li>
                            <li> <b> 2 </b> : Apply concepts of density based on area and volume in modeling situations (e.g., persons per square mile, BTUs per cubic foot). </li>
                            <li> <b> 3 </b> : Apply geometric methods to solve design problems (e.g., designing an object or structure to satisfy physical constraints or minimize cost; working with typographic grid systems based on ratios). </li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>