<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
    style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 100%+100px; background-attachment: fixed">
    <div class="content-menu" role="menu" style="margin-bottom: 0px; max-width: 95%; width: auto">
        <br />
        <section style="width: 100%; align-items: left">
            <div routerLink="/standards" routerLinkActive="active" class="card card-small"
                style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
                <img src="./assets/icons/caret.png"
                    style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
                <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
            </div>
        </section>
        <br />
        <div class="card card-large"
            style="height: auto; width: auto; margin: auto; padding: 0 5%; border: 2px solid black; border-radius: 20px; text-align: center; max-width: min(1075px, 95%); display: flex; flex-direction: column">
            <br />
            <h2 style="text-align: center; margin-bottom: 10px"> Third Grade English Language Arts (Common Core)
                Learning Standards </h2>
            <br />
            <div class="card-container" style="max-width: 100%">
                <div class="card card-medium" (click)="toggle_domain(1)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 3.L : Language </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[1]" style="font-size: 15px">
                            <li> <b> A : Conventions of Standard English </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Demonstrate command of the conventions of standard English grammar and
                                    usage when writing or speaking. </li>
                                <ul>
                                    <li> <b> a </b> : Explain the function of nouns, pronouns, verbs, adjectives, and
                                        adverbs in general and their functions in particular sentences. </li>
                                    <li> <b> b </b> : Form and use regular and irregular plural nouns. </li>
                                    <li> <b> c </b> : Use abstract nouns (e.g., childhood). </li>
                                    <li> <b> d </b> : Form and use regular and irregular verbs. </li>
                                    <li> <b> e </b> : Form and use the simple (e.g., I walked; I walk; I will walk) verb
                                        tenses. </li>
                                    <li> <b> f </b> : Ensure subject-verb and pronoun-antecedent agreement. </li>
                                    <li> <b> g </b> : Form and use comparative and superlative adjectives and adverbs,
                                        and choose between them depending on what is to be modified. </li>
                                    <li> <b> h </b> : Use coordinating and subordinating conjunctions. </li>
                                    <li> <b> i </b> : Produce simple, compound, and complex sentences. </li>
                                </ul>
                                <li> <b> 2 </b> : Demonstrate command of the conventions of standard English
                                    capitalization, punctuation, and spelling when writing. </li>
                                <ul>
                                    <li> <b> a </b> : Capitalize appropriate words in titles. </li>
                                    <li> <b> b </b> : Use commas in addresses. </li>
                                    <li> <b> c </b> : Use commas and quotation marks in dialogue. </li>
                                    <li> <b> d </b> : Form and use possessives. </li>
                                    <li> <b> e </b> : Use conventional spelling for high-frequency and other studied
                                        words and for adding suffixes to base words (e.g., sitting, smiled, cries,
                                        happiness). </li>
                                    <li> <b> f </b> : Use spelling patterns and generalizations (e.g., word families,
                                        position-based spellings, syllable patterns, ending rules, meaningful word
                                        parts) in writing words. </li>
                                    <li> <b> g </b> : Consult reference materials, including beginning dictionaries, as
                                        needed to check and correct spellings. </li>
                                </ul>
                            </ul>
                            <li> <b> B : Knowledge of Language </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Use knowledge of language and its conventions when writing, speaking,
                                    reading, or listening. </li>
                                <ul>
                                    <li> <b> a </b> : Choose words and phrases for effect. </li>
                                    <li> <b> b </b> : Recognize and observe differences between the conventions of
                                        spoken and written standard English. </li>
                                </ul>
                            </ul>
                            <li> <b> C : Vocabulary Acquisition and Use </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Determine or clarify the meaning of unknown and multiple-meaning words
                                    and phrases based on grade 3 reading and content, choosing flexibly from a range of
                                    strategies. </li>
                                <ul>
                                    <li> <b> a </b> : Use sentence-level context as a clue to the meaning of a word or
                                        phrase. </li>
                                    <li> <b> b </b> : Determine the meaning of the new word formed when a known affix is
                                        added to a known word (e.g., agreeable/disagreeable, comfortable/uncomfortable,
                                        care/careless, heat/preheat). </li>
                                    <li> <b> c </b> : Use a known root word as a clue to the meaning of an unknown word
                                        with the same root (e.g., company, companion). </li>
                                    <li> <b> d </b> : Use glossaries or beginning dictionaries, both print and digital,
                                        to determine or clarify the precise meaning of key words and phrases. </li>
                                </ul>
                                <li> <b> 5 </b> : Demonstrate understanding of word relationships and nuances in word
                                    meanings. </li>
                                <ul>
                                    <li> <b> a </b> : Distinguish the literal and nonliteral meanings of words and
                                        phrases in context (e.g., take steps). </li>
                                    <li> <b> b </b> : Identify real-life connections between words and their use (e.g.,
                                        describe people who are friendly or helpful). </li>
                                    <li> <b> c </b> : Distinguish shades of meaning among related words that describe
                                        states of mind or degrees of certainty (e.g., knew, believed, suspected, heard,
                                        wondered). </li>
                                </ul>
                                <li> <b> 6 </b> : Acquire and use accurately grade-appropriate conversational, general
                                    academic, and domain-specific words and phrases, including those that signal spatial
                                    and temporal relationships (e.gAfter dinner that night we went looking for them).
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(2)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 3.RF : Reading - Foundational Skills </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[2]" style="font-size: 15px">
                            <li> <b> A : Phonics and Word Recognition </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Know and apply grade-level phonics and word analysis skills in
                                    decoding words. </li>
                                <ul>
                                    <li> <b> a </b> : Identify and know the meaning of the most common prefixes and
                                        derivational suffixes. </li>
                                    <li> <b> b </b> : Decode words with common Latin suffixes. </li>
                                    <li> <b> c </b> : Decode multisyllable words. </li>
                                    <li> <b> d </b> : Read grade-appropriate irregularly spelled words. </li>
                                </ul>
                            </ul>
                            <li> <b> B : Fluency </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Read with sufficient accuracy and fluency to support comprehension.
                                </li>
                                <ul>
                                    <li> <b> a </b> : Read on-level text with purpose and understanding. </li>
                                    <li> <b> b </b> : Read on-level prose and poetry orally with accuracy, appropriate
                                        rate, and expression on successive readings. </li>
                                    <li> <b> c </b> : Use context to confirm or self-correct word recognition and
                                        understanding, rereading as necessary. </li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(3)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 3.RI : Reading - Informational Text </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[3]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Ask and answer questions to demonstrate understanding of a text,
                                    referring explicitly to the text as the basis for the answers. </li>
                                <li> <b> 2 </b> : Determine the main idea of a text; recount the key details and explain
                                    how they support the main idea. </li>
                                <li> <b> 3 </b> : Describe the relationship between a series of historical events,
                                    scientific ideas or concepts, or steps in technical procedures in a text, using
                                    language that pertains to time, sequence, and cause/effect. </li>
                            </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Determine the meaning of general academic and domain-specific words
                                    and phrases in a text relevant to a grade 3 topic or subject area. </li>
                                <li> <b> 5 </b> : Use text features and search tools (e.g., key words, sidebars,
                                    hyperlinks) to locate information relevant to a given topic efficiently. </li>
                                <li> <b> 6 </b> : Distinguish their own point of view from that of the author of a text.
                                </li>
                            </ul>
                            <li> <b> C : Integration of Knowledge and Ideas </b> </li>
                            <ul>
                                <li> <b> 7 </b> : Use information gained from illustrations (e.g., maps, photographs)
                                    and the words in a text to demonstrate understanding of the text (e.g., where, when,
                                    why, and how key events occur). </li>
                                <li> <b> 8 </b> : Describe the logical connection between particular sentences and
                                    paragraphs in a text (e.g., comparison, cause/effect, first/second/third in a
                                    sequence). </li>
                                <li> <b> 9 </b> : Compare and contrast the most important points and key details
                                    presented in two texts on the same topic. </li>
                            </ul>
                            <li> <b> D : Range of Reading and Level of Text Complexity </b> </li>
                            <ul>
                                <li> <b> 10 </b> : By the end of the year, read and comprehend informational texts,
                                    including history/social studies, science, and technical texts, at the high end of
                                    the grades 2–3 text complexity band independently and proficiently. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(4)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 3.RL : Reading - Literature </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[4]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Ask and answer questions to demonstrate understanding of a text,
                                    referring explicitly to the text as the basis for the answers. </li>
                                <li> <b> 2 </b> : Recount stories, including fables, folktales, and myths from diverse
                                    cultures; determine the central message, lesson, or moral and explain how it is
                                    conveyed through key details in the text. </li>
                                <li> <b> 3 </b> : Describe characters in a story (e.g., their traits, motivations, or
                                    feelings) and explain how their actions contribute to the sequence of events. </li>
                            </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Determine the meaning of words and phrases as they are used in a text,
                                    distinguishing literal from nonliteral language. </li>
                                <li> <b> 5 </b> : Refer to parts of stories, dramas, and poems when writing or speaking
                                    about a text, using terms such as chapter, scene, and stanza; describe how each
                                    successive part builds on earlier sections. </li>
                                <li> <b> 6 </b> : Distinguish their own point of view from that of the narrator or those
                                    of the characters. </li>
                                <li> <b> 7 </b> : Explain how specific aspects of a text's illustrations contribute to
                                    what is conveyed by the words in a story (e.g., create mood, emphasize aspects of a
                                    character or setting). </li>
                                <li> <b> 9 </b> : Compare and contrast the themes, settings, and plots of stories
                                    written by the same author about the same or similar characters (e.g., in books from
                                    a series). </li>
                            </ul>
                            <li> <b> C : Range of Reading and Level of Text Complexity </b> </li>
                            <ul>
                                <li> <b> 10 </b> : By the end of the year, read and comprehend literature, including
                                    stories, dramas, and poetry, at the high end of the grades 2–3 text complexity band
                                    independently and proficiently. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(5)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 3.W : Writing </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[5]" style="font-size: 15px">
                            <li> <b> A : Text Types and Purposes </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Write opinion pieces on topics or texts, supporting a point of view
                                    with reasons. </li>
                                <ul>
                                    <li> <b> a </b> : Introduce the topic or text they are writing about, state an
                                        opinion, and create an organizational structure that lists reasons. </li>
                                    <li> <b> b </b> : Provide reasons that support the opinion. </li>
                                    <li> <b> c </b> : Use linking words and phrases (e.g., because, therefore, since,
                                        for example) to connect opinion and reasons. </li>
                                    <li> <b> d </b> : Provide a concluding statement or section. </li>
                                </ul>
                                <li> <b> 2 </b> : Write informative/explanatory texts to examine a topic and convey
                                    ideas and information clearly. </li>
                                <ul>
                                    <li> <b> a </b> : Introduce a topic and group related information together; include
                                        illustrations when useful to aid comprehension. </li>
                                    <li> <b> b </b> : Develop the topic with facts, definitions, and details. </li>
                                    <li> <b> c </b> : Use linking words and phrases (e.g., also, another, and, more,
                                        but) to connect ideas within categories of information. </li>
                                    <li> <b> d </b> : Provide a concluding statement or section. </li>
                                </ul>
                                <li> <b> 3 </b> : Write narratives to develop real or imagined experiences or events
                                    using effective technique, descriptive details, and clear event sequences. </li>
                                <ul>
                                    <li> <b> a </b> : Establish a situation and introduce a narrator and/or characters;
                                        organize an event sequence that unfolds naturally. </li>
                                    <li> <b> b </b> : Use dialogue and descriptions of actions, thoughts, and feelings
                                        to develop experiences and events or show the response of characters to
                                        situations. </li>
                                    <li> <b> c </b> : Use temporal words and phrases to signal event order. </li>
                                    <li> <b> d </b> : Provide a sense of closure. </li>
                                </ul>
                            </ul>
                            <li> <b> B : Production and Distribution of Writing </b> </li>
                            <ul>
                                <li> <b> 4 </b> : With guidance and support from adults, produce writing in which the
                                    development and organization are appropriate to task and purpose. </li>
                                <li> <b> 5 </b> : With guidance and support from peers and adults, develop and
                                    strengthen writing as needed by planning, revising, and editing. </li>
                                <li> <b> 6 </b> : With guidance and support from adults, use technology to produce and
                                    publish writing (using keyboarding skills) as well as to interact and collaborate
                                    with others. </li>
                            </ul>
                            <li> <b> C : Research to Build and Present Knowledge </b> </li>
                            <ul>
                                <li> <b> 7 </b> : Conduct short research projects that build knowledge about a topic.
                                </li>
                                <li> <b> 8 </b> : Recall information from experiences or gather information from print
                                    and digital sources; take brief notes on sources and sort evidence into provided
                                    categories. </li>
                            </ul>
                            <li> <b> D : Range of Writing </b> </li>
                            <ul>
                                <li> <b> 10 </b> : Write routinely over extended time frames (time for research,
                                    reflection, and revision) and shorter time frames (a single sitting or a day or two)
                                    for a range of discipline-specific tasks, purposes, and audiences. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>