<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      display: flex;
      align-items: center;
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      padding: 5px 10px 2px 20px;
    }
  
    .toolbar img {
      /* margin: 0 16px; */
      position: absolute;
      left: -10px;
      top: -18px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 8px;
    }
  
    .toolbar #youtube-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
      opacity: 0.8;
    }
  
    .content-menu {
      display: flex;
      margin: 0 auto 32px;
      padding: 0 16px;
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    .content {
      display: flex;
      margin: 12px auto 32px;
      padding: 0 4px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    .subcontent {
      display: flex;
      margin: 12px auto;
      padding: 0px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
  
    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
        width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
  
    /* .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card-container .switch:not(:last-child) {
      margin-right: 0;
    } */
  
    .card.card-small {
      height: 16px;
      width: 190px;
      border-radius: 8px;
    }
  
    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }
  
    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card.card-large {
      width: auto;
      height: auto;
      border-radius: 8px;
      margin: 8px 8px;
      padding: 8px 20px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    } */
  
    .card.highlight-card {
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    button.grade-button {
      font-size: 18px;
      color: white;
      background-color: #1976d2;
      border-radius: 12px;
      border: 1px solid #eee;
      margin: 8px;
      padding: 8px 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.grade-button-gray {
      font-size: 18px;
      color: white;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button-gray:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.toggle-button {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .toggle-button:before {
      background-color: #1976d2;
      color: white;
    }
  
    button.toggle-button-off {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    button.toggle-button-on {
      font-size: 18px;
      background-color: #1976d2;
      color: white;
      border-radius: 12px;
      border: 3px solid #0a1e33;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    .terminal {
      position: relative;
      /* width: 100%; */
      max-width: 625px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
      color: #c2c3c4;
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      line-height: 0;
      padding: 14px 0;
      font-size: 2rem;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
      text-align: center;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27, 31, 35, .2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
      border-color: rgba(27, 31, 35, .35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    /* The switch - the box around the slider */
    .switch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      max-width: 250px;
      max-height: 75px;
      transition: all 0.2s ease-in-out;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    input:checked+.toggle-button-on {
      background-color: #1976d2;
      color: white
    }
  
    input:hover+.toggle-button-on {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    input:checked+.toggle-button-off {
      background-color: #ccc;
      color: black;
    }
  
    input:hover+.toggle-button-off {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
  
      .card-container>*:not(.circle-link),
      .terminal {
        /* width: 100%; */
      }
  
      .card:not(.highlight-card) {
        /* height: 16px; */
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
    }
  </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main">
    <section style="width: 100%; align-items: left">
        <div routerLink="/standards" routerLinkActive="active" class="card card-small" style="width: 300px; border: none; background-color: white">
          <img src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
          <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
        </div>
    </section>
    <br />
    <h2> High School Mathematics - Statistics & Probability (Common Core) Learning Standards </h2>
    <br />
    <div class="card-container">
        <div class="card card-medium" (click)="toggle_domain(1)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSS.ID : Interpreting Categorical and Quantitative Data </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[1]" style="font-size: 15px">
                    <li> <b> A : Summarize, represent, and interpret data on a single count or measurement variable. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Represent data with plots on the real number line (dot plots, histograms, and box plots). </li>
                            <li> <b> 2 </b> : Use statistics appropriate to the shape of the data distribution to compare center (median, mean) and spread (interquartile range, standard deviation) of two or more different data sets. </li>
                            <li> <b> 3 </b> : Interpret differences in shape, center, and spread in the context of the data sets, accounting for possible effects of extreme data points (outliers). </li>
                            <li> <b> 4 </b> : Use the mean and standard deviation of a data set to fit it to a normal distribution and to estimate population percentages. Recognize that there are data sets for which such a procedure is not appropriate. Use calculators, spreadsheets, and tables to estimate areas under the normal curve. </li>
                        </ul>
                    <li> <b> B : Summarize, represent, and interpret data on two categorical and quantitative variables. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : Summarize categorical data for two categories in two-way frequency tables. Interpret relative frequencies in the context of the data (including joint, marginal, and conditional relative frequencies). Recognize possible associations and trends in the data. </li>
                            <li> <b> 6 </b> : Represent data on two quantitative variables on a scatter plot, and describe how the variables are related. </li>
                                <ul>
                                    <li> <b> a </b> : Fit a function to the data; use functions fitted to data to solve problems in the context of the data. </li>
                                    <li> <b> b </b> : Informally assess the fit of a function by plotting and analyzing residuals. </li>
                                    <li> <b> c </b> : Fit a linear function for a scatter plot that suggests a linear association. </li>
                                </ul>
                        </ul>
                    <li> <b> C : Interpret linear models. </b> </li>
                        <ul>
                            <li> <b> 7 </b> : Interpret the slope (rate of change) and the intercept (constant term) of a linear model in the context of the data. </li>
                            <li> <b> 8 </b> : Compute (using technology) and interpret the correlation coefficient of a linear fit. </li>
                            <li> <b> 9 </b> : Distinguish between correlation and causation. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(2)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSS.IC : Making Inferences and Justifying Conclusions </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[2]" style="font-size: 15px">
                    <li> <b> A : Understand and evaluate random processes underlying statistical experiments. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Understand statistics as a process for making inferences about population parameters based on a random sample from that population. </li>
                            <li> <b> 2 </b> : Decide if a specified model is consistent with results from a given data-generating process, e.g., using simulation. </li>
                        </ul>
                    <li> <b> B : Make inferences and justify conclusions from sample surveys, experiments, and observational studies. </b> </li>
                        <ul>
                            <li> <b> 3 </b> : Recognize the purposes of and differences among sample surveys, experiments, and observational studies; explain how randomization relates to each. </li>
                            <li> <b> 4 </b> : Use data from a sample survey to estimate a population mean or proportion; develop a margin of error through the use of simulation models for random sampling. </li>
                            <li> <b> 5 </b> : Use data from a randomized experiment to compare two treatments; use simulations to decide if differences between parameters are significant. </li>
                            <li> <b> 6 </b> : Evaluate reports based on data. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(3)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSS.CP : Conditional Probability and the Rules of Probability </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[3]" style="font-size: 15px">
                    <li> <b> A : Understand independence and conditional probability and use them to interpret data. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Describe events as subsets of a sample space (the set of outcomes) using characteristics (or categories) of the outcomes, or as unions, intersections, or complements of other events ("or," "and," "not"). </li>
                            <li> <b> 2 </b> : Understand that two events A and B are independent if the probability of A and B occurring together is the product of their probabilities, and use this characterization to determine if they are independent. </li>
                            <li> <b> 3 </b> : Understand the conditional probability of A given B as P(A and B)/P(B), and interpret independence of A and B as saying that the conditional probability of A given B is the same as the probability of A, and the conditional probability of B given A is the same as the probability of B. </li>
                            <li> <b> 4 </b> : Construct and interpret two-way frequency tables of data when two categories are associated with each object being classified. Use the two-way table as a sample space to decide if events are independent and to approximate conditional probabilities. </li>
                            <li> <b> 5 </b> : Recognize and explain the concepts of conditional probability and independence in everyday language and everyday situations. </li>
                        </ul>
                    <li> <b> B : Use the rules of probability to compute probabilities of compound events in a uniform probability model. </b> </li>
                        <ul>
                            <li> <b> 6 </b> : Find the conditional probability of A given B as the fraction of B's outcomes that also belong to A, and interpret the answer in terms of the model. </li>
                            <li> <b> 7 </b> : Apply the Addition Rule, P(A or B) = P(A) + P(B) — P(A and B), and interpret the answer in terms of the model. </li>
                            <li> <b> 8 </b> : Apply the general Multiplication Rule in a uniform probability model, P(A and B) = P(A)P(B|A) = P(B)P(A|B), and interpret the answer in terms of the model. </li>
                            <li> <b> 9 </b> : Use permutations and combinations to compute probabilities of compound events and solve problems. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(4)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 9-12.HSS.MD : Using Probability to Make Decisions </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[4]" style="font-size: 15px">
                    <li> <b> A : Calculate expected values and use them to solve problems. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Define a random variable for a quantity of interest by assigning a numerical value to each event in a sample space; graph the corresponding probability distribution using the same graphical displays as for data distributions. </li>
                            <li> <b> 2 </b> : Calculate the expected value of a random variable; interpret it as the mean of the probability distribution. </li>
                            <li> <b> 3 </b> : Develop a probability distribution for a random variable defined for a sample space in which theoretical probabilities can be calculated; find the expected value. </li>
                            <li> <b> 4 </b> : Develop a probability distribution for a random variable defined for a sample space in which probabilities are assigned empirically; find the expected value. </li>
                        </ul>
                    <li> <b> B : Use probability to evaluate outcomes of decisions. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : Weigh the possible outcomes of a decision by assigning probabilities to payoff values and finding expected values. </li>
                                <ul>
                                    <li> <b> a </b> : Find the expected payoff for a game of chance. </li>
                                    <li> <b> b </b> : Evaluate and compare strategies on the basis of expected values. </li>
                                </ul>
                            <li> <b> 6 </b> : Use probabilities to make fair decisions (e.g., drawing by lots, using a random number generator). </li>
                            <li> <b> 7 </b> : Analyze decisions and strategies using probability concepts (e.g., product testing, medical testing, pulling a hockey goalie at the end of a game). </li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>