<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      display: flex;
      align-items: center;
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      padding: 5px 10px 2px 20px;
    }
  
    .toolbar img {
      /* margin: 0 16px; */
      position: absolute;
      left: -10px;
      top: -18px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 8px;
    }
  
    .toolbar #youtube-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
      opacity: 0.8;
    }
  
    .content-menu {
      display: flex;
      margin: 0 auto 32px;
      padding: 0 16px;
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    .content {
      display: flex;
      margin: 12px auto 32px;
      padding: 0 4px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    .subcontent {
      display: flex;
      margin: 12px auto;
      padding: 0px;
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
  
    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
        width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
  
    /* .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card-container .switch:not(:last-child) {
      margin-right: 0;
    } */
  
    .card.card-small {
      height: 16px;
      width: 190px;
      border-radius: 8px;
    }
  
    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }
  
    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card.card-large {
      width: auto;
      height: auto;
      border-radius: 8px;
      margin: 8px 8px;
      padding: 8px 20px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    } */
  
    .card.highlight-card {
      background-color: #0a1e33;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    button.grade-button {
      font-size: 18px;
      color: white;
      background-color: #1976d2;
      border-radius: 12px;
      border: 1px solid #eee;
      margin: 8px;
      padding: 8px 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.grade-button-gray {
      font-size: 18px;
      color: white;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    button.grade-button-gray:hover {
      background-color: #0a1e33;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    button.toggle-button {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .toggle-button:before {
      background-color: #1976d2;
      color: white;
    }
  
    button.toggle-button-off {
      font-size: 18px;
      color: black;
      background-color: #ccc;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    button.toggle-button-on {
      font-size: 18px;
      background-color: #1976d2;
      color: white;
      border-radius: 12px;
      border: 3px solid #0a1e33;
      padding: 7px 15px;
      margin: 0 2px 10px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      width: 100%;
    }
  
    .terminal {
      position: relative;
      /* width: 100%; */
      max-width: 625px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
      color: #c2c3c4;
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      line-height: 0;
      padding: 14px 0;
      font-size: 2rem;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
      text-align: center;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27, 31, 35, .2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
      border-color: rgba(27, 31, 35, .35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    /* The switch - the box around the slider */
    .switch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      max-width: 250px;
      max-height: 75px;
      transition: all 0.2s ease-in-out;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    input:checked+.toggle-button-on {
      background-color: #1976d2;
      color: white
    }
  
    input:hover+.toggle-button-on {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    input:checked+.toggle-button-off {
      background-color: #ccc;
      color: black;
    }
  
    input:hover+.toggle-button-off {
      background-color: #0a1e33;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
  
      .card-container>*:not(.circle-link),
      .terminal {
        /* width: 100%; */
      }
  
      .card:not(.highlight-card) {
        /* height: 16px; */
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
    }
  </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main">
    <section style="width: 100%; align-items: left">
        <div routerLink="/standards" routerLinkActive="active" class="card card-small" style="width: 300px; border: none; background-color: white">
          <img src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
          <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
        </div>
    </section>
    <br />
    <h2 style="text-align: center; margin-bottom: 10px"> Seventh Grade Mathematics (Common Core) Learning Standards </h2>
    <br />
    <div class="card-container">
        <div class="card card-medium" (click)="toggle_domain(1)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 7.RP : Ratios and Proportional Relationships </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[1]" style="font-size: 15px">
                    <li> <b> A : Analyze proportional relationships and use them to solve real-world and mathematical problems. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Compute unit rates associated with ratios of fractions, including ratios of lengths, areas and other quantities measured in like or different units. </li>
                            <li> <b> 2 </b> : Recognize and represent proportional relationships between quantities. </li>
                                <ul>
                                    <li> <b> a </b> : Decide whether two quantities are in a proportional relationship, e.g., by testing for equivalent ratios in a table or graphing on a coordinate plane and observing whether the graph is a straight line through the origin. </li>
                                    <li> <b> b </b> : Identify the constant of proportionality (unit rate) in tables, graphs, equations, diagrams, and verbal descriptions of proportional relationships. </li>
                                    <li> <b> c </b> : Represent proportional relationships by equations. </li>
                                    <li> <b> d </b> : Explain what a point (x, y) on the graph of a proportional relationship means in terms of the situation, with special attention to the points (0, 0) and (1, r) where r is the unit rate. </li>
                                </ul>
                            <li> <b> 3 </b> : Use proportional relationships to solve multistep ratio and percent problems. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(2)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 7.NS : The Number System </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[2]" style="font-size: 15px">
                    <li> <b> A : Apply and extend previous understandings of operations with fractions to add, subtract, multiply, and divide rational numbers. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Apply and extend previous understandings of addition and subtraction to add and subtract rational numbers; represent addition and subtraction on a horizontal or vertical number line diagram. </li>
                                <ul>
                                    <li> <b> a </b> : Describe situations in which opposite quantities combine to make 0. </li>
                                    <li> <b> b </b> : Understand p + q as the number located a distance |q| from p, in the positive or negative direction depending on whether q is positive or negative. Show that a number and its opposite have a sum of 0 (are additive inverses). Interpret sums of rational numbers by describing real-world contexts. </li>
                                    <li> <b> c </b> : Understand subtraction of rational numbers as adding the additive inverse, p - q = p + (-q). Show that the distance between two rational numbers on the number line is the absolute value of their difference, and apply this principle in real-world contexts. </li>
                                    <li> <b> d </b> : Apply properties of operations as strategies to add and subtract rational numbers. </li>
                                </ul>
                            <li> <b> 2 </b> : Apply and extend previous understandings of multiplication and division and of fractions to multiply and divide rational numbers. </li>
                                <ul>
                                    <li> <b> a </b> : Understand that multiplication is extended from fractions to rational numbers by requiring that operations continue to satisfy the properties of operations, particularly the distributive property, leading to products such as (-1)(-1) = 1 and the rules for multiplying signed numbers. Interpret products of rational numbers by describing real-world contexts. </li>
                                    <li> <b> b </b> : Understand that integers can be divided, provided that the divisor is not zero, and every quotient of integers (with non-zero divisor) is a rational number. If p and q are integers, then -(p/q) = (-p)/q = p/(-q). Interpret quotients of rational numbers by describing real-world contexts. </li>
                                    <li> <b> c </b> : Apply properties of operations as strategies to multiply and divide rational numbers. </li>
                                    <li> <b> d </b> : Convert a rational number to a decimal using long division; know that the decimal form of a rational number terminates in 0s or eventually repeats. </li>
                                </ul>
                            <li> <b> 3 </b> : Solve real-world and mathematical problems involving the four operations with rational numbers. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(3)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 7.EE : Expressions and Equations </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[3]" style="font-size: 15px">
                    <li> <b> A : Use properties of operations to generate equivalent expressions. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Apply properties of operations as strategies to add, subtract, factor, and expand linear expressions with rational coefficients. </li>
                            <li> <b> 2 </b> : Understand that rewriting an expression in different forms in a problem context can shed light on the problem and how the quantities in it are related. </li>
                        </ul>
                    <li> <b> B : Solve real-life and mathematical problems using numerical and algebraic expressions and equations. </b> </li>
                        <ul>
                            <li> <b> 3 </b> : Solve multi-step real-life and mathematical problems posed with positive and negative rational numbers in any form (whole numbers, fractions, and decimals), using tools strategically. Apply properties of operations to calculate with numbers in any form; convert between forms as appropriate; and assess the reasonableness of answers using mental computation and estimation strategies. </li>
                            <li> <b> 4 </b> : Use variables to represent quantities in a real-world or mathematical problem, and construct simple equations and inequalities to solve problems by reasoning about the quantities. </li>
                                <ul>
                                    <li> <b> a </b> : Solve word problems leading to equations of the form px + q = r and p(x + q) = r, where p, q, and r are specific rational numbers. Solve equations of these forms fluently. Compare an algebraic solution to an arithmetic solution, identifying the sequence of the operations used in each approach. </li>
                                    <li> <b> b </b> : Solve word problems leading to inequalities of the form px + q > r or px + q < r, where p, q, and r are specific rational numbers. Graph the solution set of the inequality and interpret it in the context of the problem. </li>
                                </ul>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(4)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 7.G : Geometry </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[4]" style="font-size: 15px">
                    <li> <b> A : Draw, construct, and describe geometrical figures and describe the relationships between them. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Solve problems involving scale drawings of geometric figures, including computing actual lengths and areas from a scale drawing and reproducing a scale drawing at a different scale. </li>
                            <li> <b> 2 </b> : Draw (freehand, with ruler and protractor, and with technology) geometric shapes with given conditions. Focus on constructing triangles from three measures of angles or sides, noticing when the conditions determine a unique triangle, more than one triangle, or no triangle. </li>
                            <li> <b> 3 </b> : Describe the two-dimensional figures that result from slicing three-dimensional figures, as in plane sections of right rectangular prisms and right rectangular pyramids. </li>
                        </ul>
                    <li> <b> B : Solve real-life and mathematical problems involving angle measure, area, surface area, and volume. </b> </li>
                        <ul>
                            <li> <b> 4 </b> : Know the formulas for the area and circumference of a circle and use them to solve problems; give an informal derivation of the relationship between the circumference and area of a circle. </li>
                            <li> <b> 5 </b> : Use facts about supplementary, complementary, vertical, and adjacent angles in a multi-step problem to write and solve simple equations for an unknown angle in a figure. </li>
                            <li> <b> 6 </b> : Solve real-world and mathematical problems involving area, volume and surface area of two- and three-dimensional objects composed of triangles, quadrilaterals, polygons, cubes, and right prisms. </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="card card-medium" (click)="toggle_domain(5)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 10px">
                    <img *ngIf="domain_state[5]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                    <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                </div>
                <div style="margin: 0 10px; text-align: left">
                    <h4 style="font-size: 18px"> 7.SP : Statistics and Probability </h4>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; text-align: left">
                <ul *ngIf="domain_state[5]" style="font-size: 15px">
                    <li> <b> A : Use random sampling to draw inferences about a population. </b> </li>
                        <ul>
                            <li> <b> 1 </b> : Understand that statistics can be used to gain information about a population by examining a sample of the population; generalizations about a population from a sample are valid only if the sample is representative of that population. Understand that random sampling tends to produce representative samples and support valid inferences. </li>
                            <li> <b> 2 </b> : Use data from a random sample to draw inferences about a population with an unknown characteristic of interest. Generate multiple samples (or simulated samples) of the same size to gauge the variation in estimates or predictions. </li>
                        </ul>
                    <li> <b> B : Draw informal comparative inferences about two populations. </b> </li>
                        <ul>
                            <li> <b> 3 </b> : Informally assess the degree of visual overlap of two numerical data distributions with similar variabilities, measuring the difference between the centers by expressing it as a multiple of a measure of variability. </li>
                            <li> <b> 4 </b> : Use measures of center and measures of variability for numerical data from random samples to draw informal comparative inferences about two populations. </li>
                        </ul>
                    <li> <b> C : Investigate chance processes and develop, use, and evaluate probability models. </b> </li>
                        <ul>
                            <li> <b> 5 </b> : Understand that the probability of a chance event is a number between 0 and 1 that expresses the likelihood of the event occurring. Larger numbers indicate greater likelihood. A probability near 0 indicates an unlikely event, a probability around 1/2 indicates an event that is neither unlikely nor likely, and a probability near 1 indicates a likely event. </li>
                            <li> <b> 6 </b> : Approximate the probability of a chance event by collecting data on the chance process that produces it and observing its long-run relative frequency, and predict the approximate relative frequency given the probability. </li>
                            <li> <b> 7 </b> : Develop a probability model and use it to find probabilities of events. Compare probabilities from a model to observed frequencies; if the agreement is not good, explain possible sources of the discrepancy. </li>
                                <ul>
                                    <li> <b> a </b> : Develop a uniform probability model by assigning equal probability to all outcomes, and use the model to determine probabilities of events. </li>
                                    <li> <b> b </b> : Develop a probability model (which may not be uniform) by observing frequencies in data generated from a chance process. </li>
                                </ul>
                            <li> <b> 8 </b> : Find probabilities of compound events using organized lists, tables, tree diagrams, and simulation. </li>
                                <ul>
                                    <li> <b> a </b> : Understand that, just as with simple events, the probability of a compound event is the fraction of outcomes in the sample space for which the compound event occurs. </li>
                                    <li> <b> b </b> : Represent sample spaces for compound events using methods such as organized lists, tables and tree diagrams. For an event described in everyday language (e.g., "rolling double sixes"), identify the outcomes in the sample space which compose the event. </li>
                                    <li> <b> c </b> : Design and use a simulation to generate frequencies for compound events. </li>
                                </ul>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>