<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
    style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 100%+100px; background-attachment: fixed">
    <div class="content-menu" role="menu" style="margin-bottom: 0px; max-width: 95%; width: auto">
        <br />
        <section style="width: 100%; align-items: left">
            <div routerLink="/standards" routerLinkActive="active" class="card card-small"
                style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
                <img src="./assets/icons/caret.png"
                    style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
                <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
            </div>
        </section>
        <br />
        <div class="card card-large"
            style="height: auto; margin: auto; padding: 0 2.5%; border: 2px solid black; border-radius: 20px; text-align: center; width: min(1075px, 95%); display: flex; flex-direction: column">
            <br />
            <h2 style="text-align: center; margin-bottom: 10px"> Fourth Grade Mathematics (Common Core) Learning
                Standards </h2>
            <br />
            <div class="card-container" style="max-width: 100%">
                <div class="card card-medium" (click)="toggle_domain(1)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 4.OA : Operations and Algebraic Thinking </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[1]" style="font-size: 15px">
                            <li> <b> A : Use the four operations with whole numbers to solve problems. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Interpret a multiplication equation as a comparison, e.g., interpret
                                    35 = 5 × 7 as a statement that 35 is 5 times as many as 7 and 7 times as many as 5.
                                    Represent verbal statements of multiplicative comparisons as multiplication
                                    equations. </li>
                                <li> <b> 2 </b> : Multiply or divide to solve word problems involving multiplicative
                                    comparison, e.g., by using drawings and equations with a symbol for the unknown
                                    number to represent the problem, distinguishing multiplicative comparison from
                                    additive comparison. </li>
                                <li> <b> 3 </b> : Solve multistep word problems posed with whole numbers and having
                                    whole-number answers using the four operations, including problems in which
                                    remainders must be interpreted. Represent these problems using equations with a
                                    letter standing for the unknown quantity. Assess the reasonableness of answers using
                                    mental computation and estimation strategies including rounding. </li>
                            </ul>
                            <li> <b> B : Gain familiarity with factors and multiples. </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Find all factor pairs for a whole number in the range 1-100. Recognize
                                    that a whole number is a multiple of each of its factors. Determine whether a given
                                    whole number in the range 1-100 is a multiple of a given one-digit number. Determine
                                    whether a given whole number in the range 1-100 is prime or composite. </li>
                            </ul>
                            <li> <b> C : Generate and analyze patterns. </b> </li>
                            <ul>
                                <li> <b> 5 </b> : Generate a number or shape pattern that follows a given rule. Identify
                                    apparent features of the pattern that were not explicit in the rule itself. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(2)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 4.NBT : Number and Operations in Base Ten </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[2]" style="font-size: 15px">
                            <li> <b> A : Generalize place value understanding for multi-digit whole numbers. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Recognize that in a multi-digit whole number, a digit in one place
                                    represents ten times what it represents in the place to its right. </li>
                                <li> <b> 2 </b> : Read and write multi-digit whole numbers using base-ten numerals,
                                    number names, and expanded form. Compare two multi-digit numbers based on meanings
                                    of the digits in each place, using >, =, and < symbols to record the results of
                                        comparisons. </li>
                                <li> <b> 3 </b> : Use place value understanding to round multi-digit whole numbers to
                                    any place. </li>
                            </ul>
                            <li> <b> B : Use place value understanding and properties of operations to perform
                                    multi-digit arithmetic. </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Fluently add and subtract multi-digit whole numbers using the standard
                                    algorithm. </li>
                                <li> <b> 5 </b> : Multiply a whole number of up to four digits by a one-digit whole
                                    number, and multiply two two-digit numbers, using strategies based on place value
                                    and the properties of operations. Illustrate and explain the calculation by using
                                    equations, rectangular arrays, and/or area models. </li>
                                <li> <b> 6 </b> : Find whole-number quotients and remainders with up to four-digit
                                    dividends and one-digit divisors, using strategies based on place value, the
                                    properties of operations, and/or the relationship between multiplication and
                                    division. Illustrate and explain the calculation by using equations, rectangular
                                    arrays, and/or area models. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(3)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 4.NF : Number and Operations - Fractions </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[3]" style="font-size: 15px">
                            <li> <b> A : Extend understanding of fraction equivalence and ordering. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Explain why a fraction a/b is equivalent to a fraction (n × a)/(n × b)
                                    by using visual fraction models, with attention to how the number and size of the
                                    parts differ even though the two fractions themselves are the same size. Use this
                                    principle to recognize and generate equivalent fractions. </li>
                                <li> <b> 2 </b> : Compare two fractions with different numerators and different
                                    denominators, e.g., by creating common denominators or numerators, or by comparing
                                    to a benchmark fraction such as 1/2. Recognize that comparisons are valid only when
                                    the two fractions refer to the same whole. Record the results of comparisons with
                                    symbols >, =, or <, and justify the conclusions, e.g., by using a visual fraction
                                        model. </li>
                            </ul>
                            <li> <b> B : Build fractions from unit fractions by applying and extending previous
                                    understandings of operations on whole numbers. </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Understand a fraction a/b with a > 1 as a sum of fractions 1/b. </li>
                                <ul>
                                    <li> <b> a </b> : Understand addition and subtraction of fractions as joining and
                                        separating parts referring to the same whole. </li>
                                    <li> <b> b </b> : Decompose a fraction into a sum of fractions with the same
                                        denominator in more than one way, recording each decomposition by an equation.
                                        Justify decompositions, e.g., by using a visual fraction model. </li>
                                    <li> <b> c </b> : Add and subtract mixed numbers with like denominators, e.g., by
                                        replacing each mixed number with an equivalent fraction, and/or by using
                                        properties of operations and the relationship between addition and subtraction.
                                    </li>
                                    <li> <b> d </b> : Solve word problems involving addition and subtraction of
                                        fractions referring to the same whole and having like denominators, e.g., by
                                        using visual fraction models and equations to represent the problem. </li>
                                </ul>
                                <li> <b> 4 </b> : Apply and extend previous understandings of multiplication to multiply
                                    a fraction by a whole number. </li>
                                <ul>
                                    <li> <b> a </b> : Understand a fraction a/b as a multiple of 1/b. </li>
                                    <li> <b> b </b> : Understand a multiple of a/b as a multiple of 1/b, and use this
                                        understanding to multiply a fraction by a whole number. </li>
                                    <li> <b> c </b> : Solve word problems involving multiplication of a fraction by a
                                        whole number, e.g., by using visual fraction models and equations to represent
                                        the problem. </li>
                                </ul>
                            </ul>
                            <li> <b> C : Understand decimal notation for fractions, and compare decimal fractions. </b>
                            </li>
                            <ul>
                                <li> <b> 5 </b> : Express a fraction with denominator 10 as an equivalent fraction with
                                    denominator 100, and use this technique to add two fractions with respective
                                    denominators 10 and 100. </li>
                                <li> <b> 6 </b> : Use decimal notation for fractions with denominators 10 or 100. </li>
                                <li> <b> 7 </b> : Compare two decimals to hundredths by reasoning about their size.
                                    Recognize that comparisons are valid only when the two decimals refer to the same
                                    whole. Record the results of comparisons with the symbols >, =, or <, and justify
                                        the conclusions, e.g., by using a visual model. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(4)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 4.MD : Measurement and Data </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[4]" style="font-size: 15px">
                            <li> <b> A : Solve problems involving measurement and conversion of measurements from a
                                    larger unit to a smaller unit. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Know relative sizes of measurement units within one system of units
                                    including km, m, cm; kg, g; lb, oz.; l, ml; hr, min, sec. Within a single system of
                                    measurement, express measurements in a larger unit in terms of a smaller unit.
                                    Record measurement equivalents in a two-column table. </li>
                                <li> <b> 2 </b> : Use the four operations to solve word problems involving distances,
                                    intervals of time, liquid volumes, masses of objects, and money, including problems
                                    involving simple fractions or decimals, and problems that require expressing
                                    measurements given in a larger unit in terms of a smaller unit. Represent
                                    measurement quantities using diagrams such as number line diagrams that feature a
                                    measurement scale. </li>
                                <li> <b> 3 </b> : Apply the area and perimeter formulas for rectangles in real world and
                                    mathematical problems. </li>
                            </ul>
                            <li> <b> B : Represent and interpret data. </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Make a line plot to display a data set of measurements in fractions of
                                    a unit (1/2, 1/4, 1/8). Solve problems involving addition and subtraction of
                                    fractions by using information presented in line plots. </li>
                            </ul>
                            <li> <b> C : Geometric measurement: understand concepts of angle and measure angles. </b>
                            </li>
                            <ul>
                                <li> <b> 5 </b> : Recognize angles as geometric shapes that are formed wherever two rays
                                    share a common endpoint, and understand concepts of angle measurement: </li>
                                <ul>
                                    <li> <b> a </b> : An angle is measured with reference to a circle with its center at
                                        the common endpoint of the rays, by considering the fraction of the circular arc
                                        between the points where the two rays intersect the circle. An angle that turns
                                        through 1/360 of a circle is called a "one-degree angle," and can be used to
                                        measure angles. </li>
                                    <li> <b> b </b> : An angle that turns through n one-degree angles is said to have an
                                        angle measure of n degrees. </li>
                                </ul>
                                <li> <b> 6 </b> : Measure angles in whole-number degrees using a protractor. Sketch
                                    angles of specified measure. </li>
                                <li> <b> 7 </b> : Recognize angle measure as additive. When an angle is decomposed into
                                    non-overlapping parts, the angle measure of the whole is the sum of the angle
                                    measures of the parts. Solve addition and subtraction problems to find unknown
                                    angles on a diagram in real world and mathematical problems, e.g., by using an
                                    equation with a symbol for the unknown angle measure. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(5)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 4.G : Geometry </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[5]" style="font-size: 15px">
                            <li> <b> A : Draw and identify lines and angles, and classify shapes by properties of their
                                    lines and angles. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Draw points, lines, line segments, rays, angles (right, acute,
                                    obtuse), and perpendicular and parallel lines. Identify these in two-dimensional
                                    figures. </li>
                                <li> <b> 2 </b> : Classify two-dimensional figures based on the presence or absence of
                                    parallel or perpendicular lines, or the presence or absence of angles of a specified
                                    size. Recognize right triangles as a category, and identify right triangles. </li>
                                <li> <b> 3 </b> : Recognize a line of symmetry for a two-dimensional figure as a line
                                    across the figure such that the figure can be folded along the line into matching
                                    parts. Identify line-symmetric figures and draw lines of symmetry. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>