<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
    style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 100%+100px; background-attachment: fixed">
    <div class="content-menu" role="menu" style="margin-bottom: 0px; max-width: 95%; width: auto">
        <br />
        <section style="width: 100%; align-items: left">
            <div routerLink="/standards" routerLinkActive="active" class="card card-small"
                style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
                <img src="./assets/icons/caret.png"
                    style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
                <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
            </div>
        </section>
        <br />
        <div class="card card-large"
            style="height: auto; margin: auto; padding: 0 2.5%; border: 2px solid black; border-radius: 20px; text-align: center; width: min(1075px, 95%); display: flex; flex-direction: column">
            <br />
            <h2 style="text-align: center; margin-bottom: 10px"> Kindergarten English Language Arts (Common Core)
                Learning Standards </h2>
            <br />
            <div class="card-container" style="max-width: 100%">
                <div class="card card-medium" (click)="toggle_domain(1)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> K.L : Language </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[1]" style="font-size: 15px">
                            <li> <b> A : Conventions of Standard English </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Demonstrate command of the conventions of standard English grammar and
                                    usage when writing or speaking. </li>
                                <ul>
                                    <li> <b> a </b> : Print many upper- and lowercase letters. </li>
                                    <li> <b> b </b> : Use frequently occurring nouns and verbs. </li>
                                    <li> <b> c </b> : Form regular plural nouns orally by adding /s/ or /es/ (e.g., dog,
                                        dogs; wish, wishes). </li>
                                    <li> <b> d </b> : Understand and use question words (interrogatives) (e.g., who,
                                        what, where, when, why, how). </li>
                                    <li> <b> e </b> : Use the most frequently occurring prepositions (e.g., to, from,
                                        in, out, on, off, for, of, by, with). </li>
                                    <li> <b> f </b> : Produce and expand complete sentences in shared language
                                        activities. </li>
                                </ul>
                                <li> <b> 2 </b> : Demonstrate command of the conventions of standard English
                                    capitalization, punctuation, and spelling when writing. </li>
                                <ul>
                                    <li> <b> a </b> : Capitalize the first word in a sentence and the pronoun I. </li>
                                    <li> <b> b </b> : Recognize and name end punctuation. </li>
                                    <li> <b> c </b> : Write a letter or letters for most consonant and short-vowel
                                        sounds (phonemes). </li>
                                    <li> <b> d </b> : Spell simple words phonetically, drawing on knowledge of
                                        sound-letter relationships. </li>
                                </ul>
                            </ul>
                            <li> <b> B : Vocabulary Acquisition and Use </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Determine or clarify the meaning of unknown and multiple-meaning words
                                    and phrases based on kindergarten reading and content. </li>
                                <ul>
                                    <li> <b> a </b> : Identify new meanings for familiar words and apply them accurately
                                        (e.g., knowing duck is a bird and learning the verb to duck). </li>
                                    <li> <b> b </b> : Use the most frequently occurring inflections and affixes (e.g.,
                                        -ed, -s, re-, un-, pre-, -ful, -less) as a clue to the meaning of an unknown
                                        word. </li>
                                </ul>
                                <li> <b> 5 </b> : With guidance and support from adults, explore word relationships and
                                    nuances in word meanings. </li>
                                <ul>
                                    <li> <b> a </b> : Sort common objects into categories (e.g., shapes, foods) to gain
                                        a sense of the concepts the categories represent. </li>
                                    <li> <b> b </b> : Demonstrate understanding of frequently occurring verbs and
                                        adjectives by relating them to their opposites (antonyms). </li>
                                    <li> <b> c </b> : Identify real-life connections between words and their use (e.g.,
                                        note places at school that are colorful). </li>
                                    <li> <b> d </b> : Distinguish shades of meaning among verbs describing the same
                                        general action (e.g., walk, march, strut, prance) by acting out the meanings.
                                    </li>
                                </ul>
                                <li> <b> 6 </b> : Use words and phrases acquired through conversations, reading and
                                    being read to, and responding to texts. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(2)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> K.RF : Reading - Foundational Skills </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[2]" style="font-size: 15px">
                            <li> <b> A : Print Concepts </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Demonstrate understanding of the organization and basic features of
                                    print. </li>
                                <ul>
                                    <li> <b> a </b> : Follow words from left to right, top to bottom, and page by page.
                                    </li>
                                    <li> <b> b </b> : Recognize that spoken words are represented in written language by
                                        specific sequences of letters. </li>
                                    <li> <b> c </b> : Understand that words are separated by spaces in print. </li>
                                    <li> <b> d </b> : Recognize and name all upper- and lowercase letters of the
                                        alphabet. </li>
                                </ul>
                            </ul>
                            <li> <b> B : Phonological Awareness </b> </li>
                            <ul>
                                <li> <b> 2 </b> : Demonstrate understanding of spoken words, syllables, and sounds
                                    (phonemes). </li>
                                <ul>
                                    <li> <b> a </b> : Recognize and produce rhyming words. </li>
                                    <li> <b> b </b> : Count, pronounce, blend, and segment syllables in spoken words.
                                    </li>
                                    <li> <b> c </b> : Blend and segment onsets and rimes of single-syllable spoken
                                        words. </li>
                                    <li> <b> d </b> : Isolate and pronounce the initial, medial vowel, and final sounds
                                        (phonemes) in three-phoneme (consonant-vowel-consonant, or CVC) words. (This
                                        does not include CVCs ending with /l/, /r/, or /x/.) </li>
                                    <li> <b> e </b> : Add or substitute individual sounds (phonemes) in simple,
                                        one-syllable words to make new words. </li>
                                </ul>
                            </ul>
                            <li> <b> C : Phonics and Word Recognition </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Know and apply grade-level phonics and word analysis skills in
                                    decoding words. </li>
                                <ul>
                                    <li> <b> a </b> : Demonstrate basic knowledge of one-to-one letter-sound
                                        correspondences by producing the primary sound or many of the most frequent
                                        sounds for each consonant. </li>
                                    <li> <b> b </b> : Associate the long and short sounds with common spellings
                                        (graphemes) for the five major vowels. </li>
                                    <li> <b> c </b> : Read common high-frequency words by sight (e.g., the, of, to, you,
                                        she, my, is, are, do, does). </li>
                                    <li> <b> d </b> : Distinguish between similarly spelled words by identifying the
                                        sounds of the letters that differ. </li>
                                </ul>
                            </ul>
                            <li> <b> D : Fluency </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Read emergent-reader texts with purpose and understanding. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(3)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> K.RI : Reading - Informational Text </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[3]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                            <ul>
                                <li> <b> 1 </b> : With prompting and support, ask and answer questions about key details
                                    in a text. </li>
                                <li> <b> 2 </b> : With prompting and support, identify the main topic and retell key
                                    details of a text. </li>
                                <li> <b> 3 </b> : With prompting and support, describe the connection between two
                                    individuals, events, ideas, or pieces of information in a text. </li>
                            </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                            <ul>
                                <li> <b> 4 </b> : With prompting and support, ask and answer questions about unknown
                                    words in a text. </li>
                                <li> <b> 5 </b> : Identify the front cover, back cover, and title page of a book. </li>
                                <li> <b> 6 </b> : Name the author and illustrator of a text and define the role of each
                                    in presenting the ideas or information in a text. </li>
                            </ul>
                            <li> <b> C : Integration of Knowledge and Ideas </b> </li>
                            <ul>
                                <li> <b> 7 </b> : With prompting and support, describe the relationship between
                                    illustrations and the text in which they appear (e.g., what person, place, thing, or
                                    idea in the text an illustration depicts). </li>
                                <li> <b> 8 </b> : With prompting and support, identify the reasons an author gives to
                                    support points in a text. </li>
                                <li> <b> 9 </b> : With prompting and support, identify basic similarities in and
                                    differences between two texts on the same topic (e.g., in illustrations,
                                    descriptions, or procedures). </li>
                            </ul>
                            <li> <b> D : Range of Reading and Level of Text Complexity </b> </li>
                            <ul>
                                <li> <b> 10 </b> : Actively engage in group reading activities with purpose and
                                    understanding. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(4)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> K.RL : Reading - Literature </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[4]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                            <ul>
                                <li> <b> 1 </b> : With prompting and support, ask and answer questions about key details
                                    in a text. </li>
                                <li> <b> 2 </b> : With prompting and support, retell familiar stories, including key
                                    details. </li>
                                <li> <b> 3 </b> : With prompting and support, identify characters, settings, and major
                                    events in a story. </li>
                            </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                            <ul>
                                <li> <b> 4 </b> : Ask and answer questions about unknown words in a text. </li>
                                <li> <b> 5 </b> : Recognize common types of texts (e.g., storybooks, poems). </li>
                                <li> <b> 6 </b> : With prompting and support, name the author and illustrator of a story
                                    and define the role of each in telling the story. </li>
                            </ul>
                            <li> <b> C : Integration of Knowledge and Ideas </b> </li>
                            <ul>
                                <li> <b> 7 </b> : With prompting and support, describe the relationship between
                                    illustrations and the story in which they appear (e.g., what moment in a story an
                                    illustration depicts). </li>
                                <li> <b> 9 </b> : With prompting and support, compare and contrast the adventures and
                                    experiences of characters in familiar stories. </li>
                            </ul>
                            <li> <b> D : Range of Reading and Level of Text Complexity </b> </li>
                            <ul>
                                <li> <b> 10 </b> : Actively engage in group reading activities with purpose and
                                    understanding. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>