<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .break {
    flex-basis: 100%;
    height: 50;
  }

  .toolbar {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  .toolbar img {
    margin: auto;
    /* padding-left: 10px; */
    margin-right: 0px;
  }

  .toolbar span {
    margin: auto;
    margin-left: 0px;
  }

  .content-box {
    /* display: flex; */
    margin: 0;
    /* padding: 0 16px; */
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
  }

  .content-menu {
    display: flex;
    margin: 0 auto 32px;
    /* padding: 0 16px; */
    width: 100%;
    flex-direction: column;
    align-items: center;
  }


  .content {
    display: flex;
    margin: 12px auto 32px;
    padding: 0 0;
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    max-height: 90px;
    width: 200px;
    margin: 0 4px 4px;
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: auto;
    width: auto;
    border-radius: 8px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 200px;
    position: relative;
    padding: 7px 0px;
  }

  .card.card.highlight-card span {
    margin-left: 20px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  button.grade-button {
    font-size: 18px;
    color: white;
    background-color: rgba(82, 147, 228, 0.6);
    border-radius: 12px;
    border: 1px solid #eee;
    margin: 8px;
    padding: 8px 8px;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  button.grade-button:hover {
    background-color: #1976d2;
    /* color:black; */
    transform: translateY(-1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

button.grade-button-l {
  font-size: 18px;
  color: white;
  background-color: rgba(82, 197, 243, 0.7);
  border-radius: 12px;
  border: 1px solid #eee;
  margin: 8px;
  padding: 8px 8px;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

button.grade-button-l:hover {
  background-color: #1976d2;
  /* color:black; */
  transform: translateY(-1px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

  .terminal {
    position: relative;
    /* width: 100%; */
    max-width: 750px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    color: #c2c3c4;
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    line-height: 0;
    padding: 14px 0;
    font-size: 2rem;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  #logo:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  #titleUD:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  #titleUM:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  #titleAD:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  #titleAM:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  nav a {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Orbitron';
    color: white;
    margin: 0px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
  }

  nav a:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 10px;
    }

  }
</style>

<!-- Toolbar --> 
<div class="toolbar" role="banner" (window:resize)="width_change()" #navbar>
  <div style="display: flex; flex-direction: row; width: 100%; margin: auto; align-items: center; justify-content: space-between; height: fit-content">
    <div *ngIf="this.screenWidth <= this.mobileWidth" style="width: fit-content; display: flex; flex-direction: row">
      <div *ngIf="!authService.userData" class="card highlight-card" style="transform: translateY(0.25rem)" style="margin: 5px 10px" routerLink="/exams" routerLinkActive="active">
        <img *ngIf="this.screenWidth <= this.mobileWidth && (this.screenWidth >= 525  || (440 <= this.screenWidth && this.screenWidth < 490) || (330 <= this.screenWidth && this.screenWidth < 400))" src="./assets/media/logo1.png" style="width: 35px; height: 35px" #logo />
        <span style="padding: 0px; text-align: left; margin: auto">
          <h1 *ngIf="this.screenWidth <= this.mobileWidth" style="display: block; font-family: 'Orbitron'; font-size: 21.5px; font-weight: 800; margin-left: 5px" #titleUM> {{ title }} </h1>
        </span>
      </div>
      <div *ngIf="authService.userData" class="card highlight-card" style="transform: translateY(0.25rem)" style="margin: 5px 10px" routerLink="/home" routerLinkActive="active">
        <img *ngIf="this.screenWidth <= this.mobileWidth && this.screenWidth >= 400" src="./assets/media/logo1.png" style="width: 35px; height: 35px" #logo />
        <span style="padding: 0px; text-align: left; margin: auto">
          <h1 *ngIf="this.screenWidth <= this.mobileWidth" style="display: block; font-family: 'Orbitron'; font-size: 21.5px; font-weight: 800; margin-left: 5px" #titleAM> {{ title }} </h1>
        </span>
      </div>
    </div>
    <div *ngIf="this.screenWidth > this.mobileWidth" style="width: fit-content; display: flex; flex-direction: row">
      <div *ngIf="!authService.userData" class="card highlight-card" style="transform: translateY(0.25rem)" style="margin: 5px 10px" routerLink="/exams" routerLinkActive="active">
        <img *ngIf="this.screenWidth > this.mobileWidth" src="./assets/media/logo1.png" style="width: 45px; height: 45px" #logo />
        <span style="padding: 0px; text-align: left; margin: auto">
          <h1 *ngIf="this.screenWidth > this.mobileWidth" style="display: block; font-family: 'Orbitron'; font-size: 23px; font-weight: 1000; margin-left: 10px" #titleUD> {{ title }} </h1>
        </span>
      </div>
      <div *ngIf="authService.userData" class="card highlight-card" style="transform: translateY(0.25rem)" style="margin: 5px 10px" routerLink="/home" routerLinkActive="active">
        <img *ngIf="this.screenWidth > this.mobileWidth" src="./assets/media/logo1.png" style="width: 45px; height: 45px" #logo />
        <span style="padding: 0px; text-align: left; margin: auto">
          <h1 *ngIf="this.screenWidth > this.mobileWidth" style="display: block; font-family: 'Orbitron'; font-size: 23px; font-weight: 1000; margin-left: 10px" #titleAD> {{ title }} </h1>
        </span>
      </div>
    </div>
    <!-- <div *ngIf="this.screenWidth > this.mobileWidth" style="width: fit-content; display: flex; flex-direction: row">
    </div> -->
    <div *ngIf="this.screenWidth <= this.mobileWidth" style="width: fit-content; display: flex; flex-direction: row">
      <div style="display: flex; align-items: center; margin-right: 10px; float: right">
        <!-- <img *ngIf="this.screenWidth <= this.mobileWidth" (click)="menu_toggle()" src="./assets/icons/menu.png" style="height: 30px; width: 30px; margin: 0 10px 0 0; filter: invert(100%)"> -->
        <img *ngIf="this.screenWidth >= 350 && authService.userData as user" src="{{(authService.pp_url) ? authService.pp_url : (user.photoURL) ? user.photoURL : '/assets/icons/user/user.png'}}" routerLink="/profile" routerLinkActive="active" style="width: 35px; height: 35px; border-radius: 50%; margin: 0 10px 0 0">
        <button *ngIf="!authService.userData && this.screenWidth >= 490" class="grade-button-l" routerLink="/login" routerLinkActive="active" style="font-size: 17px; line-height: 20px; font-weight: 700; padding: 7px; font-family: 'Orbitron'; border-radius: 7px"> Log In </button>
        <button *ngIf="!authService.userData && this.screenWidth >= 400" class="grade-button" routerLink="/signup" routerLinkActive="active" style="font-size: 17px; line-height: 20px; font-weight: 700; padding: 7px; font-family: 'Orbitron'; border-radius: 7px"> Sign Up </button>
      </div>
      <div class="spacer"></div>
      <div style="display: flex; align-items: center; margin-right: 10px; float: right">
        <img (click)="menu_toggle()" src="./assets/icons/menu.png" style="height: 30px; width: 30px; margin: auto; filter: invert(100%)">
      </div>
    </div>
    <div *ngIf="this.screenWidth > this.mobileWidth" style="width: fit-content; display: flex; flex-direction: row">
      <nav *ngIf="this.screenWidth > this.mobileWidth" style="text-align: right; display: flex; flex-direction: row; align-items: center; float: center; margin: auto">
        <a routerLink="/about" routerLinkActive="active" style="font-size: 18px; font-weight: 300"> About Us </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/exams" routerLinkActive="active" style="font-size: 18px; font-weight: 300"> Exams </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/problems" routerLinkActive="active" style="font-size: 18px; font-weight: 300"> Problems </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/standards" routerLinkActive="active" style="font-size: 18px; font-weight: 300"> Standards </a>
        <!-- <a routerLink="/contact" routerLinkActive="active"> Contact </a>&nbsp; -->
      </nav>
      <div class="spacer" style="width: 20px"></div>
      <div style="display: flex; align-items: center; float: right">
        <!-- <h2 *ngIf="authService.userData as user" style="font-size: 17px; font-weight: 400; margin-right: 10px; font-family: 'Orbitron'"> Welcome back, {{user.displayName}}! </h2> -->
        <!-- <h2 *ngIf="!authService.userData" style="font-size: 17px; font-weight: 400; margin-right: 10px; font-family: 'Orbitron'"> Create your free account today! </h2> -->
        <img *ngIf="authService.userData as user" src="{{(authService.pp_url) ? authService.pp_url : (user.photoURL) ? user.photoURL : '/assets/icons/user/user.png'}}" routerLink="/profile" routerLinkActive="active" style="width: 50px; height: 50px; border-radius: 50%; margin: 0 10px 0 0">
        <button *ngIf="!authService.userData" class="grade-button-l" routerLink="/login" routerLinkActive="active" style="font-size: 17px; line-height: 20px; font-weight: 700; padding: 7px; font-family: 'Orbitron'; border-radius: 7px"> Log In </button>
        <button *ngIf="!authService.userData" class="grade-button" routerLink="/signup" routerLinkActive="active" style="font-size: 17px; line-height: 20px; font-weight: 700; padding: 7px; font-family: 'Orbitron'; border-radius: 7px"> Sign Up </button>
      </div>
    </div>
  </div>
  <hr *ngIf="this.menuOpen && this.screenWidth <= this.mobileWidth" style="width: 100%; border-width: 2px" >
  <div *ngIf="this.menuOpen && this.screenWidth <= this.mobileWidth" style="width: 100%">
    <nav style="width: 100%; text-align: center; display: inline-flexbox">
      <!-- <a routerLink="/about" routerLinkActive="active" style="padding: 0 10px; font-size: 16px; text-align: center"> <p style="width: 100px; margin: 0; padding: 0">About Us</p></a>&nbsp;&nbsp;
      <a routerLink="/exams" routerLinkActive="active" style="padding: 0 10px; font-size: 16px; text-align: center"> <p style="width: 100px; margin: 0; padding: 0">Exams</p> </a>&nbsp;&nbsp;
      <a routerLink="/problems" routerLinkActive="active" style="padding: 0 10px; font-size: 16px; text-align: center"> <p style="width: 100px; margin: 0; padding: 0">Problems</p> </a>&nbsp;
      <a routerLink="/standards" routerLinkActive="active" style="padding: 0 10px; font-size: 16px; text-align: center"> <p style="width: 100px; margin: 0; padding: 0">Standards</p> </a>&nbsp;&nbsp; -->
      <a routerLink="/about" routerLinkActive="active" style="padding:  15px; font-size: 17px; font-weight: 300"> About Us </a>&nbsp;
      <a routerLink="/exams" routerLinkActive="active" style="padding: 5px 15px; font-size: 17px; font-weight: 300"> Exams </a>&nbsp;
      <a routerLink="/problems" routerLinkActive="active" style="padding: 5px 15px; font-size: 17px; font-weight: 300"> Problems </a>&nbsp;
      <a routerLink="/standards" routerLinkActive="active" style="padding: 5px 15px; font-size: 17px; font-weight: 300"> Standards </a>
      <img *ngIf="this.screenWidth < 350 && authService.userData as user" src="{{(authService.pp_url) ? authService.pp_url : (user.photoURL) ? user.photoURL : '/assets/icons/user/user.png'}}" routerLink="/profile" routerLinkActive="active" style="width: 35px; height: 35px; border-radius: 50%; margin: 0 10px 0 0">
      <button *ngIf="!authService.userData && this.screenWidth < 490" class="grade-button-l" routerLink="/login" routerLinkActive="active" style="padding: 7px; margin: 0px 15px; font-size: 17px; line-height: 20px; font-weight: 600; padding: 3px 7px; font-family: 'Orbitron'; border-radius: 7px"> Log In </button>
      <button *ngIf="!authService.userData && this.screenWidth < 400" class="grade-button" routerLink="/signup" routerLinkActive="active" style="padding: 7px; margin: 0px 15px; font-size: 17px; line-height: 20px; font-weight: 600; padding: 3px 7px; font-family: 'Orbitron'; border-radius: 7px"> Sign Up </button>
      <!-- <a routerLink="/contact" routerLinkActive="active" style="padding: 0 15px; font-size: 16px"> Contact </a>&nbsp; -->
    </nav>
  </div>
</div>
<div class="content-box" role="menu" style="width: 100%; padding: 0px" [style.height.px]="screenHeight-this.navbar.offsetHeight">
  <router-outlet style="width:100%; padding: Opx; margin: auto; height: 100%; align-items: center"></router-outlet>
</div>

<!-- <div class="content-menu" role="menu" style="width:100%; padding: Opx; margin: 0px">
  <footer>
    Love Angular?&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>
</div> -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->