<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    /* min-height: 85px; */
    max-height: 135px;
    display: flex;
    align-items: center;
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    padding: 5px;
  }

  .toolbar img {
    /* margin: 0 16px; */
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px
  }

  .toolbar span {
    
  }

  .content-box {
    /* display: flex; */
    margin: 85px 0 0;
    /* padding: 0 16px; */
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
  }

  .content-menu {
    display: flex;
    margin: 0 auto 32px;
    /* padding: 0 16px; */
    width: 100%;
    flex-direction: column;
    align-items: center;
  }


  .content {
    display: flex;
    margin: 12px auto 32px;
    padding: 0 0;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    max-height: 90px;
    width: 200px;
    margin: 0 4px 4px;
    /* padding: 16px 8px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 90px;
    width: 190px;
    border-radius: 8px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  button.grade-button {
    font-size: 18px;
    color: white;
    background-color: #0a1e33;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 7px 15px;
    margin: 0 2px 10px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  button.grade-button:hover {
    background-color: #1976d2;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .terminal {
    position: relative;
    /* width: 100%; */
    max-width: 750px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    color: #c2c3c4;
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    line-height: 0;
    padding: 14px 0;
    font-size: 2rem;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  nav a {
    font-size: 18px;
    font-family: 'Orbitron';
    color: white;
    margin: 0 2px 10px;
    padding: 3px;
    transition: all 0.2s ease-in-out;
  }

  nav a:hover {
    background-color: #1976d2;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="card highlight-card card-small" style="transform: translateY(0.25rem)">
    <img src="./assets/media/logo1.png" style="width: 80px; height: 80px" />
    <span style="padding: 0 25px; text-align: center">
      <h1 style="display: block; font-family: 'Orbitron'; text-transform: uppercase"> {{ title }} </h1>
      <h2 style="display: block; padding: 5px 0 0"> Free K-12 State Assessments! </h2>
      <!-- <p style="display: inline; font-size: 16px; font-family: 'Orbitron'; margin: 0 0 0 10px"> prepares every U.S. K-12
        student to ace their standardized state assessments for free</p> -->
    </span>
  </div>
  <div class="spacer"></div>

  <nav>
    <a routerLink="/exams" routerLinkActive="active">Exams</a>&nbsp;&nbsp;
    <!-- <a routerLink="/problems" routerLinkActive="active">Problems</a>&nbsp;&nbsp; -->
    <a routerLink="/about" routerLinkActive="active">About Us</a>&nbsp;&nbsp;
  </nav>
</div>

<div class="content-box" role="menu" style="width:100%; padding: 0px">
  <router-outlet style="width:100%; padding: Opx; margin: 0px"></router-outlet>
</div>

<div class="content-menu" role="menu" style="width:100%; padding: Opx; margin: 0px">
  <!-- Footer -->
  <!-- <footer>
    Love Angular?&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer> -->
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->