<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: auto;
        padding: 0 16px;
        max-width: 1500px;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
        width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .card-container .card:not(:last-child) {
        margin-right: 0;
    }

    .card.card-small {
        height: 16px;
        width: 190px;
        border-radius: 8px;
    }

    .card.card-small:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        max-height: 1500px;
        width: 85%;
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
    }

    .card.highlight-card {
        background-color: white;
        color: #0a1e33;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 350px;
        padding: 4px 0 0;
        text-align: center;
        border-radius: 0px;
        border: 1px solid #eee;
    }

    .profile-card:hover {
        transform: scale(1.05, 1.05)
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        border-radius: 0px;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        padding: 10px;
        color: black;
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.topic-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .topic-button:before {
        background-color: #ccc;
        color: black;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        min-width: 60px;
        max-width: 150px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.topic-button {
        background-color: #ccc;
        color: black;
    }

    input:hover+.topic-button {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            height: 16px;
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main">
    <div *ngIf="expand_filters" class="content">
        <h2>Select your State</h2>
        <input type="hidden" value="All United States" #state>
        <div class="card-container">
            <label class="switch">
                <input type="checkbox" value="CA">
                <button *ngIf="filters.includes('California')" (click)="toggle_button('California')"
                    class="toggle-button">California</button>
                <button *ngIf="!filters.includes('California')" (click)="toggle_button('California')"
                    class="toggle-button">California</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="FL">
                <button *ngIf="filters.includes('Florida')" (click)="toggle_button('Florida')"
                    class="toggle-button">Florida</button>
                <button *ngIf="!filters.includes('Florida')" (click)="toggle_button('Florida')"
                    class="toggle-button">Florida</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="GA">
                <button *ngIf="filters.includes('Georgia')" (click)="toggle_button('Georgia')"
                    class="toggle-button">Georgia</button>
                <button *ngIf="!filters.includes('Georgia')" (click)="toggle_button('Georgia')"
                    class="toggle-button">Georgia</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="IL">
                <button *ngIf="filters.includes('Illinois')" (click)="toggle_button('Illinois')"
                    class="toggle-button">Illinois</button>
                <button *ngIf="!filters.includes('Illinois')" (click)="toggle_button('Illinois')"
                    class="toggle-button">Illinois</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="MI">
                <button *ngIf="filters.includes('Michigan')" (click)="toggle_button('Michigan')"
                    class="toggle-button">Michigan</button>
                <button *ngIf="!filters.includes('Michigan')" (click)="toggle_button('Michigan')"
                    class="toggle-button">Michigan</button>
            </label>
        </div>
        <div class="card-container">
            <label class="switch">
                <input type="checkbox" value="NY">
                <button *ngIf="filters.includes('New York')" (click)="toggle_button('New York')"
                    class="toggle-button">New York</button>
                <button *ngIf="!filters.includes('New York')" (click)="toggle_button('New York')"
                    class="toggle-button">New York</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="NC">
                <button *ngIf="filters.includes('North Carolina')" (click)="toggle_button('North Carolina')"
                    class="toggle-button">North Carolina</button>
                <button *ngIf="!filters.includes('North Carolina')" (click)="toggle_button('North Carolina')"
                    class="toggle-button">North Carolina</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="OH">
                <button *ngIf="filters.includes('Ohio')" (click)="toggle_button('Ohio')"
                    class="toggle-button">Ohio</button>
                <button *ngIf="!filters.includes('Ohio')" (click)="toggle_button('Ohio')"
                    class="toggle-button">Ohio</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="PA">
                <button *ngIf="filters.includes('Pennsylvania')" (click)="toggle_button('Pennsylvania')"
                    class="toggle-button">Pennsylvania</button>
                <button *ngIf="!filters.includes('Pennsylvania')" (click)="toggle_button('Pennsylvania')"
                    class="toggle-button">Pennsylvania</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="TX">
                <button *ngIf="filters.includes('Texas')" (click)="toggle_button('Texas')"
                    class="toggle-button">Texas</button>
                <button *ngIf="!filters.includes('Texas')" (click)="toggle_button('Texas')"
                    class="toggle-button">Texas</button>
            </label>
        </div>
        <br />

        <br />
        <h2>Select your Grade</h2>
        <input type="hidden" value="All Grades" #state>
        <div class="card-container">
            <label class="switch">
                <input type="checkbox" value="G3">
                <button *ngIf="filters.includes('Grade 3')" (click)="toggle_button('Grade 3')"
                    class="toggle-button">Grade 3</button>
                <button *ngIf="!filters.includes('Grade 3')" (click)="toggle_button('Grade 3')"
                    class="toggle-button">Grade 3</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G4">
                <button *ngIf="filters.includes('Grade 4')" (click)="toggle_button('Grade 4')"
                    class="toggle-button">Grade 4</button>
                <button *ngIf="!filters.includes('Grade 4')" (click)="toggle_button('Grade 4')"
                    class="toggle-button">Grade 4</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G5">
                <button *ngIf="filters.includes('Grade 5')" (click)="toggle_button('Grade 5')"
                    class="toggle-button">Grade 5</button>
                <button *ngIf="!filters.includes('Grade 5')" (click)="toggle_button('Grade 5')"
                    class="toggle-button">Grade 5</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G6">
                <button *ngIf="filters.includes('Grade 6')" (click)="toggle_button('Grade 6')"
                    class="toggle-button">Grade 6</button>
                <button *ngIf="!filters.includes('Grade 6')" (click)="toggle_button('Grade 6')"
                    class="toggle-button">Grade 6</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G7">
                <button *ngIf="filters.includes('Grade 7')" (click)="toggle_button('Grade 7')"
                    class="toggle-button">Grade 7</button>
                <button *ngIf="!filters.includes('Grade 7')" (click)="toggle_button('Grade 7')"
                    class="toggle-button">Grade 7</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G8">
                <button *ngIf="filters.includes('Grade 8')" (click)="toggle_button('Grade 8')"
                    class="toggle-button">Grade 8</button>
                <button *ngIf="!filters.includes('Grade 8')" (click)="toggle_button('Grade 8')"
                    class="toggle-button">Grade 8</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G9">
                <button *ngIf="filters.includes('Grade 9')" (click)="toggle_button('Grade 9')"
                    class="toggle-button">Grade 9</button>
                <button *ngIf="!filters.includes('Grade 9')" (click)="toggle_button('Grade 9')"
                    class="toggle-button">Grade 9</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="G10">
                <button *ngIf="filters.includes('Grade 10')" (click)="toggle_button('Grade 10')"
                    class="toggle-button">Grade 10</button>
                <button *ngIf="!filters.includes('Grade 10')" (click)="toggle_button('Grade 10')"
                    class="toggle-button">Grade 10</button>
            </label>
        </div>
        <br />

        <br />
        <h2>Select your Subject</h2>
        <input type="hidden" value="All Subjects" #state>
        <div class="card-container">
            <label class="switch">
                <input type="checkbox" value="ER">
                <button *ngIf="filters.includes('ELA Reading')" (click)="toggle_button('ELA Reading')"
                    class="toggle-button">ELA Reading</button>
                <button *ngIf="!filters.includes('ELA Reading')" (click)="toggle_button('ELA Reading')"
                    class="toggle-button">ELA Reading</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="EW">
                <button *ngIf="filters.includes('ELA Writing')" (click)="toggle_button('ELA Writing')"
                    class="toggle-button">ELA Writing</button>
                <button *ngIf="!filters.includes('ELA Writing')" (click)="toggle_button('ELA Writing')"
                    class="toggle-button">ELA Writing</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="M">
                <button *ngIf="filters.includes('Math')" (click)="toggle_button('Math')"
                    class="toggle-button">Math</button>
                <button *ngIf="!filters.includes('Math')" (click)="toggle_button('Math')"
                    class="toggle-button">Math</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="S">
                <button *ngIf="filters.includes('Science')" (click)="toggle_button('Science')"
                    class="toggle-button">Science</button>
                <button *ngIf="!filters.includes('Science')" (click)="toggle_button('Science')"
                    class="toggle-button">Science</button>
            </label>
            <label class="switch">
                <input type="checkbox" value="SS">
                <button *ngIf="filters.includes('Social Studies')" (click)="toggle_button('Social Studies')"
                    class="toggle-button">Social Studies</button>
                <button *ngIf="!filters.includes('Social Studies')" (click)="toggle_button('Social Studies')"
                    class="toggle-button">Social Studies</button>
            </label>

        </div>
        <br />

        <br />
        <section>
            <br />
            <button class="grade-button" (click)="toggle_filter()">
                <h2><b>Give Me More Problems!</b></h2>
            </button>
        </section>
    </div>
    <br />
    <br />

    <div class="card-container">
        <div *ngIf="!expand_filters" class="card card-large" style="height: auto; margin: auto; text-align: center"
            #problemCard>
            <div class="content" style="margin: auto; text-align: center"></div>
        </div>
    </div>
    <br />
</div>