<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 12px auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<div class="content" (window:resize)="width_change2()" role="main"
    style="height: 100%; width: 100%; text-align: center">
    <section style="height: auto; max-height: 150px; width: 100%; display: flex; justify-content: left">
        <div (click)="authService.SignOut()" class="card card-small"
            style="height: 100%; width: 150px; border: none; background-color: white; display: flex; flex-direction: row; align-items: center; margin: auto 0px; padding-left: 20px">
            <img src="./assets/icons/logout.png" style="padding: 5px; width: 25px; height: 25px; transform: scaleX(-1)">
            <a style="font-size: 24px; font-weight: 600; padding-left: 10px"> Log Out </a>
        </div>
    </section>
    <div class="card card-large"
        style="border: 3px solid black; border-radius: 20px; display: block; min-width: 300px; max-width: 650px; width: 70%; max-height: 1200px">
        <!-- <br /> -->
        <div class="inner-adjust" *ngIf="authService.userData as user" style="padding-top: 10px">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 *ngIf="this.screenWidth > this.mobileWidth" class="h2">Welcome to your profile,
                    <strong>{{(user.displayName) ? user.displayName :
                        'User'}}</strong>!
                </h1>
                <h2 *ngIf="this.screenWidth <= this.mobileWidth" class="h3">Welcome to your profile,
                    <strong>{{(user.displayName) ? user.displayName :
                        'User'}}</strong>!
                </h2>
            </div>
            <div *ngIf="!edit" class="card-container" style="align-items: center; margin-top: 25px; margin-bottom: 25px">
                <label class="switch">
                  <input type="checkbox" value="information">
                  <button *ngIf="profile_tab != 'information'" (click)="set_tab('information')"
                    class="toggle-button-off"
                    style="display: flex; flex-direction: row; align-items: center; width: auto; height: auto; margin: 5px 10px">
                    <div style="margin: 0 5px">
                      <img src="./assets/icons/info.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                    </div>
                    <div style="margin: 0 5px; text-align: center; font-size: 17px"><b> My Information </b></div>
                  </button>
                  <button *ngIf="profile_tab == 'information'" (click)="set_tab('information')" class="toggle-button-on"
                    style="display: flex; flex-direction: row; align-items: center; width: auto; height: auto; margin: 5px 10px">
                    <div style="margin: 0 5px">
                      <img src="./assets/icons/info.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                    </div>
                    <div style="margin: 0 5px; text-align: center; font-size: 17px"><b> My Information </b></div>
                  </button>
                </label>
                <label class="switch">
                    <input type="checkbox" value="achievements">
                    <button *ngIf="profile_tab != 'achievements'" (click)="set_tab('achievements')"
                      class="toggle-button-off"
                      style="display: flex; flex-direction: row; align-items: center; width: auto; height: auto; margin: 5px 10px">
                      <div style="margin: 0 5px">
                        <img src="./assets/icons/results.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                      </div>
                      <div style="margin: 0 5px; text-align: center; font-size: 17px"><b> My Achievements </b></div>
                    </button>
                    <button *ngIf="profile_tab == 'achievements'" (click)="set_tab('achievements')" class="toggle-button-on"
                      style="display: flex; flex-direction: row; align-items: center; width: auto; height: auto; margin: 5px 10px">
                      <div style="margin: 0 5px">
                        <img src="./assets/icons/results.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                      </div>
                      <div style="margin: 0 5px; text-align: center; font-size: 17px"><b> My Achievements </b></div>
                    </button>
                  </label>
            </div>
            <!-- Show user data when logged in -->
            <div *ngIf="profile_tab == 'information' && !edit" class="row">
                <div class="col-md-12">
                    <div class="media">
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                            style="height: 300px; width: 300px; border-radius: 50%"
                            src="{{(user.photoURL) ? user.photoURL : '/assets/icons/user/user.png'}}"
                            alt="{{user.displayName}}">
                        <div class="media-body">
                            <br />
                            <h3>Display Name: <strong style="font-weight: 500">{{(user.displayName) ? user.displayName : 'User'}}</strong></h3>
                            <!-- <p>User Role: <strong>{{user.role}}</strong></p> -->
                            <h3>User ID: <strong style="font-weight: 500">{{user.uid}}</strong></h3>
                            <h3>Email: <strong style="font-weight: 500">{{user.email}}</strong></h3>
                            <h3>Phone Number: <strong style="font-weight: 500">{{user.phoneNumber}}</strong></h3>
                            <!-- <p>Password: <strong>{{user.password}}</strong></p> -->
                            <h3>Email Verified: <strong style="font-weight: 500">{{user.emailVerified}}</strong></h3>
                            <br />
                            <h3>Role: <strong style="font-weight: 500">{{user.role}}</strong></h3>
                            <div *ngIf="user.role=='Student'">
                                <h3> Grade: <strong style="font-weight: 500">{{user.grade}}</strong></h3>
                                <h3> State: <strong style="font-weight: 500">{{user.state}}</strong></h3>
                            </div>
                            <div *ngIf="user.role=='Teacher'">
                                <h3> Grade: <strong style="font-weight: 500">{{user.grade}}</strong></h3>
                                <h3> State: <strong style="font-weight: 500">{{user.state}}</strong></h3>
                                <h3> Subject: <strong style="font-weight: 500">{{user.subject}}</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="profile_tab == 'information' && edit" class="row">
                <div class="col-md-12">
                    <div class="media">
                        <img *ngIf="user.role != 'Student'" class="align-self-start mr-5 img-thumbnail rounded-circle"
                            style="height: 300px; width: 300px; border-radius: 50%; margin-top: 25px; margin-bottom: 25px"
                            src="{{(user.photoURL) ? user.photoURL : '/assets/icons/user/user.png'}}"
                            alt="{{user.displayName}}">
                        <div *ngIf="user.role == 'Student'" class="card-container" style="margin-top: 25px; margin-bottom: 25px">
                            <div *ngFor="let pic of this.avatars" (click)="edit_profile_pic(pic)"
                                class="avatar-container"
                                style="position: relative; height: 60px; width: 60px; border-radius: 50%; padding: 5px">
                                <img *ngIf="this.photoURL != '/assets/icons/user/' + pic + '.png'"
                                    src="{{'/assets/icons/user/' + pic + '.png'}}" class="select-avatar"
                                    style="width:100%; height: 100%">
                                <img *ngIf="this.photoURL == '/assets/icons/user/' + pic + '.png'"
                                    src="{{'/assets/icons/user/' + pic + '.png'}}" class="select-avatar"
                                    style="width:100%; height: 100%; opacity: 0.3">
                                <div class="middle">
                                    <div *ngIf="this.photoURL != '/assets/icons/user/' + pic + '.png'" style="color: white; background-color: #1976d2; border-radius: 10px">Select
                                    </div>
                                </div>
                                <div *ngIf="this.photoURL == '/assets/icons/user/' + pic + '.png'"
                                    class="select-middle">
                                    <img src="/assets/icons/save.png" style="height: 30px; width: 30px" />
                                </div>
                            </div>
                            <!-- <img *ngFor="let pic of this.avatars" class="select-avatar"
                                style="height: 60px; width: 60px; border-radius: 50%; padding: 5px"
                                src="{{'/assets/icons/user/' + pic + '.png'}}"> -->
                        </div>
                        <div class="media-body">
                            <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> Display Name: </h3>
                                <input (change)="edit_profile('displayName', this.userName.value)" type="text"
                                    inputmode="text" value="{{(user.displayName) ? user.displayName : 'User'}}"
                                    maxlength="40"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    #userName />
                            </section>
                            <!-- <p>User Role: <strong>{{user.role}}</strong></p> -->
                            <section *ngIf="user.role != 'Student'"
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> PhotoURL: </h3>
                                <input (change)="edit_profile('photoURL', this.userPhotoURL.value)" type="text"
                                    inputmode="text" value="{{user.photoURL}}" maxlength="150"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    #userPhotoURL />
                            </section>
                            <!-- <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> User ID: </h3>
                                <input type="text" inputmode="text" value="{{user.uid}}" maxlength="40"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    disabled #userId />
                            </section> -->
                            <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> Email Address: </h3>
                                <input (change)="edit_profile('email', this.userEmail.value)" type="text"
                                    inputmode="email" value="{{user.email}}" maxlength="40"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    #userEmail />
                            </section>
                            <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> Phone Number: </h3>
                                <input (change)="edit_profile('phoneNumber', this.userPhone.value)" type="text"
                                    inputmode="tel" value="{{user.phoneNumber}}" maxlength="40"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    #userPhone />
                            </section>
                            <!-- <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> Email Verified: </h3>
                                <input type="text" inputmode="text" value="{{user.emailVerified}}" maxlength="40"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 200px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    disabled #userVerified />
                            </section> -->
                            <br />
                            <section
                                style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                <h3> Role: </h3>
                                <select value="{{user.role}}" (change)="edit_profile('role', this.userRole.value)"
                                    style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                    disabled #userRole>
                                    <option value="Teacher">Teacher</option>
                                    <option value="Student">Student</option>
                                    <option value="Parent">Parent</option>
                                </select>
                            </section>
                            <div *ngIf="user.role=='Student'">
                                <section
                                    style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                    <h3> Grade: </h3>
                                    <select value="{{user.grade}}"
                                        (change)="edit_profile('grade', this.userGrade.value)"
                                        style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                        #userGrade>
                                        <option value="Kindergarten">Kindergarten</option>
                                        <option value="Grade 1">Grade 1</option>
                                        <option value="Grade 2">Grade 2</option>
                                        <option value="Grade 3">Grade 3</option>
                                        <option value="Grade 4">Grade 4</option>
                                        <option value="Grade 5">Grade 5</option>
                                        <option value="Grade 6">Grade 6</option>
                                        <option value="Grade 7">Grade 7</option>
                                        <option value="Grade 8">Grade 8</option>
                                        <option value="Grade 9">Grade 9</option>
                                        <option value="Grade 10">Grade 10</option>
                                        <option value="Grade 11">Grade 11</option>
                                        <option value="Grade 12">Grade 12</option>
                                    </select>
                                </section>
                                <section
                                    style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                    <h3> State: </h3>
                                    <select value="{{user.state}}"
                                        (change)="edit_profile('state', this.userState.value)"
                                        style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                        #userState>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>
                                    </select>
                                </section>
                            </div>
                            <div *ngIf="user.role=='Teacher'">
                                <section
                                    style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                    <h3> Grade: </h3>
                                    <select value="{{user.grade}}"
                                        (change)="edit_profile('grade', this.userGrade.value)"
                                        style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                        #userGrade>
                                        <option value="Kindergarten">Kindergarten</option>
                                        <option value="Grade 1">Grade 1</option>
                                        <option value="Grade 2">Grade 2</option>
                                        <option value="Grade 3">Grade 3</option>
                                        <option value="Grade 4">Grade 4</option>
                                        <option value="Grade 5">Grade 5</option>
                                        <option value="Grade 6">Grade 6</option>
                                        <option value="Grade 7">Grade 7</option>
                                        <option value="Grade 8">Grade 8</option>
                                        <option value="Grade 9">Grade 9</option>
                                        <option value="Grade 10">Grade 10</option>
                                        <option value="Grade 11">Grade 11</option>
                                        <option value="Grade 12">Grade 12</option>
                                    </select>
                                </section>
                                <section
                                    style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                    <h3> State: </h3>
                                    <select value="{{user.state}}"
                                        (change)="edit_profile('state', this.userState.value)"
                                        style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                        #userState>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>
                                    </select>
                                </section>
                                <section
                                    style="margin: auto; height: auto; max-height: 150px; max-width: 450px; display: flex; justify-content: space-between; padding: 5px">
                                    <h3> Subject: </h3>
                                    <select value="{{user.subject}}"
                                        (change)="edit_profile('subject', this.userSubject.value)"
                                        style="margin: auto 10px auto 0; padding-left: 10px; width: 215px; height: 30px; font-size: 16px; font-weight: 400; text-align: left"
                                        #userSubject>
                                        <option value="English Language">English Language</option>
                                        <option value="Math">Math</option>
                                        <option value="Reading">Reading</option>
                                        <option value="Science">Science</option>
                                        <option value="Writing">Writing</option>
                                    </select>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="profile_tab == 'achievements' && !edit" class="row">
                <div class="col-md-12">
                    <div class="media">
                        <h3>Total Problems Attempted: <strong style="font-weight: 500">{{user.problems.total}}</strong></h3>
                        <h3>Total Problems Correct: <strong style="font-weight: 500">{{user.problems.correct}}</strong></h3>
                        <h3>Percentage Correct: <strong style="font-weight: 500">{{percent_correct}}%</strong></h3>
                        <!-- <br />
                        <h3>Total Exams Completed: <strong style="font-weight: 500">{{user.problems.total}}</strong></h3> -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <section *ngIf="profile_tab == 'information' && !edit"
            style="height: auto; max-height: 150px; width: 100%; display: flex; justify-content: center">
            <button *ngIf="!edit && authService.userData as user" (click)="toggle_edit()" class="grade-button"
                style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 5px">
                    <img src="./assets/icons/edit.png" style="padding: 5px 0 0; height: 30px; width: 30px">
                </div>
                <div style="margin: 0 5px; text-align: center; font-size: 24px"><b> Edit Profile </b></div>
            </button>
        </section>
        <section *ngIf="edit"
            style="height: auto; max-height: 150px; width: 100%; display: flex; justify-content: center">
            <button *ngIf="authService.userData as user" (click)="update_profile(); toggle_edit()" class="grade-button"
                style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 5px">
                    <img src="./assets/icons/save.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                </div>
                <div style="margin: 0 5px; text-align: center; font-size: 20px"><b> Save </b></div>
            </button>
            <button *ngIf="authService.userData as user" (click)="toggle_edit()" class="grade-button"
                style="display: flex; flex-direction: row; align-items: center">
                <div style="margin: 0 5px">
                    <img src="./assets/icons/cancel.png" style="padding: 5px 0 0; height: 25px; width: 25px">
                </div>
                <div style="margin: 0 5px; text-align: center; font-size: 20px"><b> Cancel </b></div>
            </button>
        </section>
    </div>
</div>