<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
    style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 100%+100px; background-attachment: fixed">
    <div class="content-menu" role="menu" style="margin-bottom: 0px; max-width: 95%; width: auto">
        <br />
        <section style="width: 100%; align-items: left">
            <div routerLink="/standards" routerLinkActive="active" class="card card-small"
                style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
                <img src="./assets/icons/caret.png"
                    style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
                <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
            </div>
        </section>
        <br />
        <div class="card card-large"
            style="height: auto; width: auto; margin: auto; padding: 0 5%; text-align: center; max-width: min(1075px, 95%); display: flex; flex-direction: column">
            <br />
            <h2 style="text-align: center; margin-bottom: 10px"> Fifth Grade Mathematics (Common Core) Learning
                Standards </h2>
            <br />
            <div class="card-container" style="max-width: 100%">
                <div class="card card-medium" (click)="toggle_domain(1)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 5.OA : Operations and Algebraic Thinking </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[1]" style="font-size: 15px">
                            <li> <b> A : Write and interpret numerical expressions. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Use parentheses, brackets, or braces in numerical expressions, and
                                    evaluate expressions with these symbols. </li>
                                <li> <b> 2 </b> : Write simple expressions that record calculations with numbers, and
                                    interpret numerical expressions without evaluating them. </li>
                            </ul>
                            <li> <b> B : Analyze patterns and relationships. </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Generate two numerical patterns using two given rules. Identify
                                    apparent relationships between corresponding terms. Form ordered pairs consisting of
                                    corresponding terms from the two patterns, and graph the ordered pairs on a
                                    coordinate plane. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(2)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 5.NBT : Number and Operations in Base Ten </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[2]" style="font-size: 15px">
                            <li> <b> A : Understand the place value system. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Recognize that in a multi-digit number, a digit in one place
                                    represents 10 times as much as it represents in the place to its right and 1/10 of
                                    what it represents in the place to its left. </li>
                                <li> <b> 2 </b> : Explain patterns in the number of zeros of the product when
                                    multiplying a number by powers of 10, and explain patterns in the placement of the
                                    decimal point when a decimal is multiplied or divided by a power of 10. Use
                                    whole-number exponents to denote powers of 10. </li>
                                <li> <b> 3 </b> : Read, write, and compare decimals to thousandths. </li>
                                <ul>
                                    <li> <b> a </b> : Read and write decimals to thousandths using base-ten numerals,
                                        number names, and expanded form, e.g., 347.392 = 3 × 100 + 4 × 10 + 7 × 1 + 3 ×
                                        (1/10) + 9 × (1/100) + 2 × (1/1000). </li>
                                    <li> <b> b </b> : Compare two decimals to thousandths based on meanings of the
                                        digits in each place, using >, =, and < symbols to record the results of
                                            comparisons. </li>
                                </ul>
                                <li> <b> 4 </b> : Use place value understanding to round decimals to any place. </li>
                            </ul>
                            <li> <b> B : Perform operations with multi-digit whole numbers and with decimals to
                                    hundredths. </b> </li>
                            <ul>
                                <li> <b> 5 </b> : Fluently multiply multi-digit whole numbers using the standard
                                    algorithm. </li>
                                <li> <b> 6 </b> : Find whole-number quotients of whole numbers with up to four-digit
                                    dividends and two-digit divisors, using strategies based on place value, the
                                    properties of operations, and/or the relationship between multiplication and
                                    division. Illustrate and explain the calculation by using equations, rectangular
                                    arrays, and/or area models. </li>
                                <li> <b> 7 </b> : Add, subtract, multiply, and divide decimals to hundredths, using
                                    concrete models or drawings and strategies based on place value, properties of
                                    operations, and/or the relationship between addition and subtraction; relate the
                                    strategy to a written method and explain the reasoning used. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(3)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 5.NF : Number and Operations - Fractions </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[3]" style="font-size: 15px">
                            <li> <b> A : Use equivalent fractions as a strategy to add and subtract fractions. </b>
                            </li>
                            <ul>
                                <li> <b> 1 </b> : Add and subtract fractions with unlike denominators (including mixed
                                    numbers) by replacing given fractions with equivalent fractions in such a way as to
                                    produce an equivalent sum or difference of fractions with like denominators. </li>
                                <li> <b> 2 </b> : Solve word problems involving addition and subtraction of fractions
                                    referring to the same whole, including cases of unlike denominators, e.g., by using
                                    visual fraction models or equations to represent the problem. Use benchmark
                                    fractions and number sense of fractions to estimate mentally and assess the
                                    reasonableness of answers. </li>
                            </ul>
                            <li> <b> B : Apply and extend previous understandings of multiplication and division to
                                    multiply and divide fractions. </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Interpret a fraction as division of the numerator by the denominator
                                    (a/b = a ÷ b). Solve word problems involving division of whole numbers leading to
                                    answers in the form of fractions or mixed numbers, e.g., by using visual fraction
                                    models or equations to represent the problem. </li>
                                <li> <b> 4 </b> : Apply and extend previous understandings of multiplication to multiply
                                    a fraction or whole number by a fraction. </li>
                                <ul>
                                    <li> <b> a </b> : Interpret the product (a/b) × q as a parts of a partition of q
                                        into b equal parts; equivalently, as the result of a sequence of operations a ×
                                        q ÷ b. </li>
                                    <li> <b> b </b> : Find the area of a rectangle with fractional side lengths by
                                        tiling it with unit squares of the appropriate unit fraction side lengths, and
                                        show that the area is the same as would be found by multiplying the side
                                        lengths. Multiply fractional side lengths to find areas of rectangles, and
                                        represent fraction products as rectangular areas. </li>
                                </ul>
                                <li> <b> 5 </b> : Interpret multiplication as scaling (resizing), by: </li>
                                <ul>
                                    <li> <b> a </b> : Comparing the size of a product to the size of one factor on the
                                        basis of the size of the other factor, without performing the indicated
                                        multiplication. </li>
                                    <li> <b> b </b> : Explaining why multiplying a given number by a fraction greater
                                        than 1 results in a product greater than the given number (recognizing
                                        multiplication by whole numbers greater than 1 as a familiar case); explaining
                                        why multiplying a given number by a fraction less than 1 results in a product
                                        smaller than the given number; and relating the principle of fraction
                                        equivalence a/b = (n×a)/(n×b) to the effect of multiplying a/b by 1. </li>
                                </ul>
                                <li> <b> 6 </b> : Solve real world problems involving multiplication of fractions and
                                    mixed numbers, e.g., by using visual fraction models or equations to represent the
                                    problem. </li>
                                <li> <b> 7 </b> : Apply and extend previous understandings of division to divide unit
                                    fractions by whole numbers and whole numbers by unit fractions. </li>
                                <ul>
                                    <li> <b> a </b> : Interpret division of a unit fraction by a non-zero whole number,
                                        and compute such quotients. </li>
                                    <li> <b> b </b> : Interpret division of a whole number by a unit fraction, and
                                        compute such quotients. </li>
                                    <li> <b> c </b> : Solve real world problems involving division of unit fractions by
                                        non-zero whole numbers and division of whole numbers by unit fractions, e.g., by
                                        using visual fraction models and equations to represent the problem. </li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(4)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 5.MD : Measurement and Data </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[4]" style="font-size: 15px">
                            <li> <b> A : Convert like measurement units within a given measurement system. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Convert among different-sized standard measurement units within a
                                    given measurement system (e.g., convert 5 cm to 0.05 m), and use these conversions
                                    in solving multi-step, real world problems. </li>
                            </ul>
                            <li> <b> B : Represent and interpret data. </b> </li>
                            <ul>
                                <li> <b> 2 </b> : Make a line plot to display a data set of measurements in fractions of
                                    a unit (1/2, 1/4, 1/8). Use operations on fractions for this grade to solve problems
                                    involving information presented in line plots. </li>
                            </ul>
                            <li> <b> C : Geometric measurement: understand concepts of volume and relate volume to
                                    multiplication and to addition. </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Recognize volume as an attribute of solid figures and understand
                                    concepts of volume measurement. </li>
                                <ul>
                                    <li> <b> a </b> : A cube with side length 1 unit, called a "unit cube," is said to
                                        have "one cubic unit" of volume, and can be used to measure volume. </li>
                                    <li> <b> b </b> : A solid figure which can be packed without gaps or overlaps using
                                        n unit cubes is said to have a volume of n cubic units. </li>
                                </ul>
                                <li> <b> 4 </b> : Measure volumes by counting unit cubes, using cubic cm, cubic in,
                                    cubic ft, and improvised units. </li>
                                <li> <b> 5 </b> : Recognize angles as geometric shapes that are formed wherever two rays
                                    share a common endpoint, and understand concepts of angle measurement: </li>
                                <ul>
                                    <li> <b> a </b> : Find the volume of a right rectangular prism with whole-number
                                        side lengths by packing it with unit cubes, and show that the volume is the same
                                        as would be found by multiplying the edge lengths, equivalently by multiplying
                                        the height by the area of the base. Represent threefold whole-number products as
                                        volumes, e.g., to represent the associative property of multiplication. </li>
                                    <li> <b> b </b> : Apply the formulas V = l × w × h and V = b × h for rectangular
                                        prisms to find volumes of right rectangular prisms with whole-number edge
                                        lengths in the context of solving real world and mathematical problems. </li>
                                    <li> <b> c </b> : Recognize volume as additive. Find volumes of solid figures
                                        composed of two non-overlapping right rectangular prisms by adding the volumes
                                        of the non-overlapping parts, applying this technique to solve real world
                                        problems. </li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(5)"
                    style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[5]" src="./assets/icons/caret.png"
                                style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 5.G : Geometry </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[5]" style="font-size: 15px">
                            <li> <b> A : Graph points on the coordinate plane to solve real-world and mathematical
                                    problems. </b> </li>
                            <ul>
                                <li> <b> 1 </b> : Use a pair of perpendicular number lines, called axes, to define a
                                    coordinate system, with the intersection of the lines (the origin) arranged to
                                    coincide with the 0 on each line and a given point in the plane located by using an
                                    ordered pair of numbers, called its coordinates. Understand that the first number
                                    indicates how far to travel from the origin in the direction of one axis, and the
                                    second number indicates how far to travel in the direction of the second axis, with
                                    the convention that the names of the two axes and the coordinates correspond (e.g.,
                                    x-axis and x-coordinate, y-axis and y-coordinate). </li>
                                <li> <b> 2 </b> : Represent real world and mathematical problems by graphing points in
                                    the first quadrant of the coordinate plane, and interpret coordinate values of
                                    points in the context of the situation. </li>
                            </ul>
                            <li> <b> B : Classify two-dimensional figures into categories based on their properties.
                                </b> </li>
                            <ul>
                                <li> <b> 3 </b> : Understand that attributes belonging to a category of two-dimensional
                                    figures also belong to all subcategories of that category. </li>
                                <li> <b> 4 </b> : Classify two-dimensional figures in a hierarchy based on properties.
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>