<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    padding: 5px 10px 2px 20px;
  }

  .toolbar img {
    /* margin: 0 16px; */
    position: absolute;
    left: -10px;
    top: -18px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  #confettiCanvas {
    position: fixed;
    z-index: 50;
    top: 81px;
    right: 0px;
    bottom: 0px;
    left: 125px;
    height: 0px;
  }

  .content-menu {
    display: flex;
    margin: 0 auto 32px;
    padding: 0 16px;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    margin: 0 auto 32px;
    padding: 0;
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .subcontent {
    display: flex;
    margin: 12px auto;
    padding: 0px;
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    /* height: 40px;
        width: 200px; */
    margin: 8px;
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  /* .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card-container .switch:not(:last-child) {
      margin-right: 0;
    } */

  .card.card-small {
    min-height: 16px;
    width: 210px;
    border-radius: 8px;
    background-color: #ccc;
  }

  .card.card-small span {
    text-align: center;
  }

  .card.card-medium {
    height: auto;
    width: 80%;
    border-radius: 8px;
    padding: 20px;
    background-color: #eee;
  }

  .card.card-medium:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card.card-large {
    /* width: auto;
      height: auto; */
    border-radius: 8px;
    margin: 8px 8px;
    padding: 8px 20px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  /* .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    } */

  .card.highlight-card {
    background-color: #0a1e33;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  button.grade-button {
    font-size: 18px;
    color: white;
    background-color: #1976d2;
    border-radius: 12px;
    border: 1px solid #eee;
    margin: 8px;
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  button.grade-button:hover {
    background-color: #0a1e33;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  button.grade-button-gray {
    font-size: 18px;
    color: white;
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 7px 15px;
    margin: 0 2px 10px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  button.grade-button-gray:hover {
    background-color: #0a1e33;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  button.toggle-button {
    font-size: 18px;
    color: black;
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 7px 15px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .toggle-button:before {
    background-color: #1976d2;
    color: white;
  }

  button.toggle-button-off {
    font-size: 18px;
    color: black;
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 7px 15px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    width: 100%;
  }

  button.toggle-button-on {
    font-size: 18px;
    background-color: #1976d2;
    color: white;
    border-radius: 12px;
    border: 3px solid #0a1e33;
    padding: 7px 15px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    width: 100%;
  }

  button.toggle-button-disabled {
    font-size: 18px;
    color: black;
    background-color: #ccc;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 7px 15px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    width: 100%;
  }

  button.toggle-button-disabled:hover {
    /* background-color: #0a1e33;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
  }

  .terminal {
    position: relative;
    /* width: 100%; */
    max-width: 625px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    color: #c2c3c4;
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    line-height: 0;
    padding: 14px 0;
    font-size: 2rem;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  /* The switch - the box around the slider */
  .switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 75px;
    transition: all 0.2s ease-in-out;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked+.toggle-button-on {
    background-color: #1976d2;
    color: white
  }

  input:hover+.toggle-button-on {
    background-color: #0a1e33;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  input:checked+.toggle-button-off {
    background-color: #ccc;
    color: black;
  }

  input:hover+.toggle-button-off {
    background-color: #0a1e33;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  /* Responsive Styles */
  @media screen and (max-width: 700px) {

    .card-container>*:not(.circle-link),
    .terminal {
      /* width: 100%; */
    }

    .card:not(.highlight-card) {
      /* height: 16px; */
      margin: 4px;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }
</style>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<div class="content" role="main" (window:resize)="width_change2()" style="min-height: 100%; height: auto; min-width: 100%; width: auto; padding: 10px auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 105%; background-attachment: fixed">
  <div class="card card-large"
    style="margin: auto; padding: 0px; padding-right: -1px; border: 3px solid black; border-radius: 20px; display: block; min-width: 310px; width: min(800px, 85%); max-height: 1200px; display: flex; flex-direction: row">
    <div *ngIf="screenWidth <= 850" style="margin: auto; width: 100%">
      <div style="margin: auto; padding: 13px">
        <br />
        <h1 *ngIf="screenWidth > mobileWidth" style="line-height: 32px; font-weight: 500; font-size: 32px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <h1 *ngIf="screenWidth <= mobileWidth && screenWidth > 700" style="line-height: 28px; font-weight: 500; font-size: 28px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <h1 *ngIf="screenWidth <= 700" style="line-height: 28px; font-weight: 500; font-size: 24px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <!-- <br /> -->
        <h3 style="line-height: 24px; font-weight: 500; font-size: 18px; margin-top: 24px"> Get started solving problems with your teacher and peers! </h3>
        <br />
        <br />
        <br />
        <div class="card-container" style="min-height: 20px; min-width: 280px; height: auto; width: fit-content; padding: 2px; margin: auto; align-items: center; justify-content: center; display: flex; flex-direction: column; border: 1px solid rgb(118, 118, 118); border-radius: 8px">
          <div class="card-container" style="min-height: 20px; width: 280px; height: auto; padding: 0px; margin: auto; align-items: center; justify-content: space-between; display: flex; flex-direction: row">
            <textarea
              rows="1" maxlength="5" (input)="this.classCode.value=check_code(this.classCode.value)" placeholder="Enter class code"
              style="margin: 5px; padding: 10px 15px; width: min(55%, 220px); height: auto; font-size: 19.5px; line-height: 24px; font-weight: 700; text-align: center; border: 1px solid rgba(118, 118, 118, 0.5); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'"
              #classCode></textarea>
            <button *ngIf="valid_code" routerLink="/class/{{this.classCode.value}}" class="grade-button" style="margin: 5px; padding: 10px 15px; width: auto; height: auto">
              <!-- <img src="./assets/media/icons/download.png" style="height: 25px"> -->
              <b style="font-size: 20px; line-height: 20px"> Go </b>
            </button>
            <button *ngIf="!valid_code" class="toggle-button-disabled" style="margin: 5px; padding: 10px 15px; width: auto; height: auto">
              <!-- <img src="./assets/media/icons/download.png" style="height: 25px"> -->
              <b style="font-size: 20px; line-height: 20px"> Go </b>
            </button>
          </div>
          <div *ngIf="valid_code" style="margin-top: 8px; margin-bottom: 4px; width: 270px; line-height: 16px"> 
            <div *ngIf="!search_class"> <b>There is no class with this code</b> </div>
            <div *ngIf="search_class"> <b>{{search_class_result.displayName}}</b> with {{authService.searchUserId(search_class_result.teacher).displayName}} </div>
          </div>
        </div>
        <br />
        <br />
      </div>
      <div style="height: 250px; min-width: 304px; max-width: 750px; width: 100%; background: url('./assets/media/Summer24/Class7.jpg') no-repeat bottom; background-size: 900px auto; border-radius: 0px 0px 17px 17px; align-content: end">
        <div style="color: white; background-color: rgba(47, 79, 79, 0.5); backdrop-filter: blur(5px); height: auto; margin-bottom: 0px; border-radius: 0px 0px 17px 17px; text-align: center">
          <div style="margin-left: 10px; padding: 10px; font-weight: 1200">
            <h3>Learners ❤️ MoreProblems</h3>
            <h4 style="line-height: 20px; font-weight: 400">Join our growing community of <b>1,000+ students & educators</b>!</h4>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="screenWidth > 850" style="margin: auto">
      <div style="margin: auto; padding: 13px">
        <br />
        <h1 *ngIf="screenWidth > mobileWidth" style="line-height: 32px; font-weight: 500; font-size: 32px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <h1 *ngIf="screenWidth <= mobileWidth && screenWidth > 700" style="line-height: 28px; font-weight: 500; font-size: 28px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <h1 *ngIf="screenWidth <= 700" style="line-height: 28px; font-weight: 500; font-size: 24px"> Join Your Class With <b style="font-weight: 900">MoreProblems</b> </h1>
        <!-- <br /> -->
        <h3 style="line-height: 24px; font-weight: 500; font-size: 18px; margin-top: 24px"> Get started solving problems with your teacher and peers! </h3>
        <br />
        <br />
        <br />
        <div class="card-container" style="min-height: 20px; min-width: 280px; height: auto; width: fit-content; padding: 2px; margin: auto; align-items: center; justify-content: center; display: flex; flex-direction: column; border: 1px solid rgb(118, 118, 118); border-radius: 8px">
          <div class="card-container" style="min-height: 20px; width: 280px; height: auto; padding: 0px; margin: auto; align-items: center; justify-content: space-between; display: flex; flex-direction: row">
            <textarea
              rows="1" maxlength="5" (input)="this.classCode.value=check_code(this.classCode.value)" placeholder="Enter class code"
              style="margin: 5px; padding: 10px 15px; width: min(55%, 220px); height: auto; font-size: 19.5px; line-height: 24px; font-weight: 700; text-align: center; border: 1px solid rgba(118, 118, 118, 0.5); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'"
              #classCode></textarea>
            <button *ngIf="valid_code" routerLink="/class/{{this.classCode.value}}" class="grade-button" style="margin: 5px; padding: 10px 15px; width: auto; height: auto">
              <!-- <img src="./assets/media/icons/download.png" style="height: 25px"> -->
              <b style="font-size: 20px; line-height: 20px"> Go </b>
            </button>
            <button *ngIf="!valid_code" class="toggle-button-disabled" style="margin: 5px; padding: 10px 15px; width: auto; height: auto">
              <!-- <img src="./assets/media/icons/download.png" style="height: 25px"> -->
              <b style="font-size: 20px; line-height: 20px"> Go </b>
            </button>
          </div>
          <div *ngIf="valid_code" style="margin-top: 8px; margin-bottom: 4px; width: 270px; line-height: 16px"> 
            <div *ngIf="!search_class"> <b>There is no class with this code</b> </div>
            <div *ngIf="search_class"> <b>{{search_class_result.displayName}}</b> with {{authService.searchUserId(search_class_result.teacher).displayName}} </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
    <div *ngIf="screenWidth > 850" style="width: 250px; min-height: 450px; height: auto; background: url('./assets/media/Summer24/Class6.jpg') no-repeat center; background-size: auto 800px; border-radius: 0px 17px 17px 0px; align-content: end">
      <div style="color: white; background-color: rgba(47, 79, 79, 0.5); backdrop-filter: blur(5px); height: 120px; margin-bottom: 0px; border-radius: 0px 0px 17px; text-align: center">
        <div style="margin-left: 10px; margin-right: 10px; padding-top: 15px; font-weight: 1200">
          <h3>Learners ❤️ MoreProblems</h3>
          <h4 style="line-height: 20px; font-weight: 400">Join our growing community of <b>1,000+ students & educators</b>!</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sign-in-button"></div>