<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 85px;
        display: flex;
        align-items: center;
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        padding: 5px 10px 2px 20px;
    }

    .toolbar img {
        /* margin: 0 16px; */
        position: absolute;
        left: -10px;
        top: -18px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }

    .content-menu {
        display: flex;
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        margin: 0 auto 32px;
        padding: 0;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .subcontent {
        display: flex;
        margin: 12px auto;
        padding: 0px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    svg.material-icons {
        height: 24px;
        width: auto;
    }

    svg.material-icons:not(:last-child) {
        margin-right: 8px;
    }

    .card svg.material-icons path {
        fill: #888;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        /* height: 40px;
          width: 200px; */
        margin: 0 8px 16px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    /* .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card-container .switch:not(:last-child) {
        margin-right: 0;
      } */

    .card.card-small {
        min-height: 16px;
        width: 210px;
        border-radius: 8px;
    }

    .card.card-small span {
        text-align: center;
    }

    .card.card-medium {
        height: auto;
        width: 80%;
        border-radius: 8px;
        padding: 20px;
    }

    .card.card-medium:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card.card-large {
        /* width: auto;
        height: auto; */
        border-radius: 8px;
        margin: 8px 8px;
        padding: 8px 20px;
    }

    .card.card-large:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      } */

    .card.highlight-card {
        background-color: #0a1e33;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }

    svg#rocket {
        width: 80px;
        position: absolute;
        left: -10px;
        top: -24px;
    }

    svg#rocket-smoke {
        height: calc(100vh - 95px);
        position: absolute;
        top: 10px;
        right: 180px;
        z-index: -10;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    button.grade-button {
        font-size: 18px;
        color: white;
        background-color: #1976d2;
        border-radius: 12px;
        border: 1px solid #eee;
        margin: 8px;
        padding: 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.grade-button-gray {
        font-size: 18px;
        color: white;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    button.grade-button-gray:hover {
        background-color: #0a1e33;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    button.toggle-button {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .toggle-button:before {
        background-color: #1976d2;
        color: white;
    }

    button.toggle-button-off {
        font-size: 18px;
        color: black;
        background-color: #ccc;
        border-radius: 12px;
        border: 1px solid #eee;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    button.toggle-button-on {
        font-size: 18px;
        background-color: #1976d2;
        color: white;
        border-radius: 12px;
        border: 3px solid #0a1e33;
        padding: 7px 15px;
        margin: 0 2px 10px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
    }

    .select-avatar {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .select-middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
    }

    .avatar-container:hover .select-avatar {
        opacity: 0.3;
    }

    .avatar-container:hover .middle {
        opacity: 1;
    }

    progress {
        border-radius: 10px;
    }

    progress::-webkit-progress-bar {
        border-radius: 10px;
        background-color: lightgray;
        border: 1px solid darkslategrey;
    }

    progress::-webkit-progress-value {
        border-radius: 10px;
        background-color: limegreen;
        /* border: 2px solid black; */
    }

    progress::-moz-progress-bar {
        border-radius: 10px;
    }

    .terminal {
        position: relative;
        /* width: 100%; */
        max-width: 625px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);
        color: #c2c3c4;
    }

    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        line-height: 0;
        padding: 14px 0;
        font-size: 2rem;
        text-indent: 4px;
    }

    .terminal pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        color: white;
        padding: 0 1rem 1rem;
        margin: 0;
        text-align: center;
    }

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .github-star-badge {
        color: #24292e;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        margin-left: 4px;
        font-weight: 600;
    }

    .github-star-badge:hover {
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border-color: rgba(27, 31, 35, .35);
        background-position: -.5em;
    }

    .github-star-badge .material-icons {
        height: 16px;
        width: 16px;
        margin-right: 4px;
    }

    /* The switch - the box around the slider */
    .switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 75px;
        transition: all 0.2s ease-in-out;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.toggle-button-on {
        background-color: #1976d2;
        color: white
    }

    input:hover+.toggle-button-on {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    input:checked+.toggle-button-off {
        background-color: #ccc;
        color: black;
    }

    input:hover+.toggle-button-off {
        background-color: #0a1e33;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card-container>*:not(.circle-link),
        .terminal {
            /* width: 100%; */
        }

        .card:not(.highlight-card) {
            /* height: 16px; */
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" role="main" (window:resize)="width_change2()"
  style="min-height: 100%; height: auto; min-width: 100%; width: auto; text-align: center; background: url('./assets/media/hands.jpeg') no-repeat center; background-color: rgba(255, 255, 255, 0.7); background-blend-mode: lighten; background-size: auto 100%+100px; background-attachment: fixed">
  <div class="content-menu" role="menu" style="margin-bottom: 0px; max-width: 95%; width: auto">
        <br />
        <section style="width: 100%; align-items: left">
            <div routerLink="/standards" routerLinkActive="active" class="card card-small" style="width: fit-content; border: none; background-color: rgba(255, 255, 255, 0.5)">
            <img src="./assets/icons/caret.png" style="padding: 10px 0 0; width: 20px; height: 20px; transform: rotate(90deg)">
            <a style="font-size: 22px; font-weight: 600; padding-left: 10px"> Browse other standards </a>
            </div>
        </section>
        <br />
        <div class="card card-large"
        style="height: auto; width: auto; margin: auto; padding: 0 5%; text-align: center; max-width: min(1075px, 95%); display: flex; flex-direction: column">
            <h2 style="text-align: center; margin-bottom: 10px"> First Grade English Language Arts (Common Core) Learning Standards </h2>
            <br />
            <div class="card-container" style="max-width: 100%">
                <div class="card card-medium" (click)="toggle_domain(1)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[1]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 1.L : Language </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[1]" style="font-size: 15px">
                            <li> <b> A : Conventions of Standard English </b> </li>
                                <ul>
                                    <li> <b> 1 </b> : Demonstrate command of the conventions of standard English grammar and usage when writing or speaking. </li>
                                        <ul>
                                            <li> <b> a </b> : Print all upper- and lowercase letters. </li>
                                            <li> <b> b </b> : Use common, proper, and possessive nouns. </li>
                                            <li> <b> c </b> : Use singular and plural nouns with matching verbs in basic sentences (e.g., He hops; We hop). </li>
                                            <li> <b> d </b> : Use personal, possessive, and indefinite pronouns (e.g., I, me, my; they, them, their; anyone, everything). </li>
                                            <li> <b> e </b> : Use verbs to convey a sense of past, present, and future (e.g., Yesterday I walked home; Today I walk home; Tomorrow I will walk home). </li>
                                            <li> <b> f </b> : Use frequently occurring adjectives. </li>
                                            <li> <b> g </b> : Use frequently occurring conjunctions (e.g., and, but, or, so, because). </li>
                                            <li> <b> h </b> : Use determiners (e.g., articles, demonstratives). </li>
                                            <li> <b> i </b> : Use frequently occurring prepositions (e.g., during, beyond, toward). </li>
                                            <li> <b> j </b> : Produce and expand complete simple and compound declarative, interrogative, imperative, and exclamatory sentences in response to prompts. </li>
                                        </ul>
                                    <li> <b> 2 </b> : Demonstrate command of the conventions of standard English capitalization, punctuation, and spelling when writing. </li>
                                        <ul>
                                            <li> <b> a </b> : Capitalize dates and names of people. </li>
                                            <li> <b> b </b> : Use end punctuation for sentences. </li>
                                            <li> <b> c </b> : Use commas in dates and to separate single words in a series. </li>
                                            <li> <b> d </b> : Use conventional spelling for words with common spelling patterns and for frequently occurring irregular words. </li>
                                            <li> <b> e </b> : Spell untaught words phonetically, drawing on phonemic awareness and spelling conventions. </li>
                                        </ul>
                                </ul>
                            <li> <b> B : Vocabulary Acquisition and Use </b> </li>
                                <ul>
                                    <li> <b> 4 </b> : Determine or clarify the meaning of unknown and multiple-meaning words and phrases based on grade 1 reading and content, choosing flexibly from an array of strategies. </li>
                                        <ul>
                                            <li> <b> a </b> : Use sentence-level context as a clue to the meaning of a word or phrase. </li>
                                            <li> <b> b </b> : Use frequently occurring affixes as a clue to the meaning of a word. </li>
                                            <li> <b> c </b> : Identify frequently occurring root words (e.g., look) and their inflectional forms (e.g., looks, looked, looking). </li>
                                        </ul>
                                    <li> <b> 5 </b> : With guidance and support from adults, explore word relationships and nuances in word meanings. </li>
                                        <ul>
                                            <li> <b> a </b> : Sort words into categories (e.g., colors, clothing) to gain a sense of the concepts the categories represent. </li>
                                            <li> <b> b </b> : Define words by category and by one or more key attributes (e.g., a duck is a bird that swims; a tiger is a large cat with stripes). </li>
                                            <li> <b> c </b> : Identify real-life connections between words and their use (e.g., note places at home that are cozy). </li>
                                            <li> <b> d </b> : Distinguish shades of meaning among verbs differing in manner (e.g., look, peek, glance, stare, glare, scowl) and adjectives differing in intensity (e.g., large, gigantic) by defining or choosing them or by acting out the meanings. </li>
                                        </ul>
                                    <li> <b> 6 </b> : Use words and phrases acquired through conversations, reading and being read to, and responding to texts, including using frequently occurring conjunctions to signal simple relationships (e.g., because). </li>
                                </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(2)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[2]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 1.RF : Reading - Foundational Skills </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[2]" style="font-size: 15px">
                            <li> <b> A : Print Concepts </b> </li>
                                <ul>
                                    <li> <b> 1 </b> : Demonstrate understanding of the organization and basic features of print. </li>
                                        <ul>
                                            <li> <b> a </b> : Recognize the distinguishing features of a sentence (e.g., first word, capitalization, ending punctuation). </li>
                                        </ul>
                                </ul>
                            <li> <b> B : Phonological Awareness </b> </li>
                                <ul>
                                    <li> <b> 2 </b> : Demonstrate understanding of spoken words, syllables, and sounds (phonemes). </li>
                                        <ul>
                                            <li> <b> a </b> : Distinguish long from short vowel sounds in spoken single-syllable words. </li>
                                            <li> <b> b </b> : Orally produce single-syllable words by blending sounds (phonemes), including consonant blends. </li>
                                            <li> <b> c </b> : Isolate and pronounce initial, medial vowel, and final sounds (phonemes) in spoken single-syllable words. </li>
                                            <li> <b> d </b> : Segment spoken single-syllable words into their complete sequence of individual sounds (phonemes). </li>
                                        </ul>
                                </ul>
                            <li> <b> C : Phonics and Word Recognition </b> </li>
                                <ul>
                                    <li> <b> 3 </b> : Know and apply grade-level phonics and word analysis skills in decoding words. </li>
                                        <ul>
                                            <li> <b> a </b> : Know the spelling-sound correspondences for common consonant digraphs. </li>
                                            <li> <b> b </b> : Decode regularly spelled one-syllable words. </li>
                                            <li> <b> c </b> : Know final -e and common vowel team conventions for representing long vowel sounds. </li>
                                            <li> <b> d </b> : Use knowledge that every syllable must have a vowel sound to determine the number of syllables in a printed word. </li>
                                            <li> <b> e </b> : Decode two-syllable words following basic patterns by breaking the words into syllables. </li>
                                            <li> <b> f </b> : Read words with inflectional endings. </li>
                                            <li> <b> g </b> : Recognize and read grade-appropriate irregularly spelled words. </li>
                                        </ul>
                                </ul>
                            <li> <b> D : Fluency </b> </li>
                                <ul>
                                    <li> <b> 4 </b> : Read with sufficient accuracy and fluency to support comprehension. </li>
                                        <ul>
                                            <li> <b> a </b> : Read grade-level text with purpose and understanding. </li>
                                            <li> <b> b </b> : Read grade-level text orally with accuracy, appropriate rate, and expression on successive readings. </li>
                                            <li> <b> c </b> : Use context to confirm or self-correct word recognition and understanding, rereading as necessary. </li>
                                        </ul>
                                </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(3)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[3]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 1.RI : Reading - Informational Text </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[3]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                                <ul>
                                    <li> <b> 1 </b> : Ask and answer questions about key details in text. </li>
                                    <li> <b> 2 </b> : Identify the main topic and retell key details of a text. </li>
                                    <li> <b> 3 </b> : Describe the connection between two individuals, events, ideas, or pieces of information in a text. </li>
                                </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                                <ul>
                                    <li> <b> 4 </b> : Ask and answer questions to help determine or clarify the meaning of words and phrases in a text. </li>
                                    <li> <b> 5 </b> : Know and use various text features (e.g., headings, tables of contents, glossaries, electronic menus, icons) to locate key facts or information in a text. </li>
                                    <li> <b> 6 </b> : Distinguish between information provided by pictures or other illustrations and information provided by the words in a text. </li>
                                </ul>
                            <li> <b> C : Integration of Knowledge and Ideas </b> </li>
                                <ul>
                                    <li> <b> 7 </b> : Use the illustrations and details in a text to describe its key ideas. </li>
                                    <li> <b> 8 </b> : Identify the reasons an author gives to support points in a text. </li>
                                    <li> <b> 9 </b> : Identify basic similarities and differences between two texts on the same topic (e.g., in illustrations, descriptions, or procedures). </li>
                                </ul>
                            <li> <b> D : Range of Reading and Level of Text Complexity </b> </li>
                                <ul>
                                    <li> <b> 10 </b> : With prompting and support, read informational texts appropriately complex for grade 1. </li>
                                </ul>
                        </ul>
                    </div>
                </div>
                <div class="card card-medium" (click)="toggle_domain(4)" style="margin: auto; text-align: center; margin: 5px auto; flex-direction: column">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="margin: 0 10px">
                            <img *ngIf="domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px">
                            <img *ngIf="!domain_state[4]" src="./assets/icons/caret.png" style="padding: 5px 0 0; width: 25px; height: 25px; transform: rotate(-90deg)">
                        </div>
                        <div style="margin: 0 10px; text-align: left">
                            <h4 style="font-size: 18px"> 1.RL : Reading - Literature </h4>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; text-align: left">
                        <ul *ngIf="domain_state[4]" style="font-size: 15px">
                            <li> <b> A : Key Ideas and Details </b> </li>
                                <ul>
                                    <li> <b> 1 </b> : Ask and answer questions about key details in a text. </li>
                                    <li> <b> 2 </b> : Retell stories, including key details, and demonstrate understanding of their central message or lesson. </li>
                                    <li> <b> 3 </b> : Describe characters, settings, and major events in a story, using key details. </li>
                                </ul>
                            <li> <b> B : Craft and Structure </b> </li>
                                <ul>
                                    <li> <b> 4 </b> : Identify words and phrases in stories or poems that suggest feelings or appeal to the senses. </li>
                                    <li> <b> 5 </b> : Explain major differences between books that tell stories and books that give information, drawing on a wide reading of a range of text types. </li>
                                    <li> <b> 6 </b> : Identify who is telling the story at various points in a text. </li>
                                </ul>
                            <li> <b> C : Integration of Knowledge and Ideas </b> </li>
                                <ul>
                                    <li> <b> 7 </b> : Use illustrations and details in a story to describe its characters, setting, or events. </li>
                                    <li> <b> 9 </b> : Compare and contrast the adventures and experiences of characters in stories. </li>
                                </ul>
                            <li> <b> D : Range of Reading and Level of Text Complexity </b> </li>
                                <ul>
                                    <li> <b> 10 </b> : With prompting and support, read prose and poetry of appropriate complexity for grade 1. </li>
                                </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>